<div ng-include="'/app/shared/header/header.html'"></div>
<main class="container container-body">
    <div class="content content-header">
        <h2 class="text-center">Account Status</h2>
    </div>
    <div class="content">
        <div class="padding-lg">
            <h4><strong>Reset Password</strong></h4>
            <p>Use the form below to reset your password</p>
            <!--
                We have to take this link out because the account locked page requires your username
                We would have to make a page to enter your username and password to verify that you're locked
                ... so it would basically be the login page
                so todo: make a link that takes you to the login page
                <p>If your account is locked, please go <a href="#/accountLocked">here</a> to unlock your account.</p>-->
            <p>New passwords are required to be minimum of 6 characters in length.</p>

            <div class="row">
                <iframe id="passwordResetInnerFrame" scrolling="no"
                        frameborder="0"
                        style="height: 100%; width: 100%;"
                        height="100%" width="100%"
                        src="{{passwordResetUrl}}"></iframe>
            </div>
        </div>
    </div>
</main>