<style>


</style>


<div ng-controller="bonusController">
    <div class="bg-warning padding-md" ng-show="!UserHasBonus">
        You have not redeemed any promotions or bonuses yet!
    </div>

    <div class="padding-md" ng-show="UserHasBonus">

        <h3>Bonus Status</h3>
        <p>
            Bonus ID: <span class="label label-warning">{{BonusData.promoCode}}</span>
        </p>
        <p class="bottom-buffer">
            Status: <span class="label" ng-class=" {'label-danger':(BonusData.statusID ==5 || BonusData.statusID ==3),'label-default':(BonusData.statusID ==4), 'label-success':(BonusData.statusID ==1 || BonusData.statusID ==2)}">
                        <span class="glyphicon" ng-class=" {'icon-circle-full':(BonusData.statusID ==5 || BonusData.statusID ==3),'icon-pause':(BonusData.statusID ==4), 'icon-play':(BonusData.statusID ==1)}">&nbsp;</span> {{BonusData.status}}
            </span>
        </p>

        <h3>{{BonusData.status}} Bonus</h3>

        <div class="progress">
            <div class="progress-bar" ng-class=" {'progress-bar-danger':(BonusData.statusID ==5 || BonusData.statusID ==3),'progress-bar-default':(BonusData.statusID ==4), 'progress-bar-success':(BonusData.statusID ==1 || BonusData.statusID ==2)}" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{BonusData.percentCleared}}%;">
                {{BonusData.amountCleared}}
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 bottom-buffer">
                <p>Bonus Total: <strong>{{BonusData.initialBonus}}</strong></p>
                <p>Total Ammount Cleared: <strong>{{BonusData.amountCleared}}</strong> / {{BonusData.initialBonus}}</p>
                <p>Your Release Balance: <strong>{{BonusData.releaseBalance}}</strong> / {{BonusData.releaseRate}}</p>
            </div>
            <div class="col-sm-6 bottom-buffer">
                <p>Bonus Start Date: <strong>{{BonusData.bonusStartDate | date: 'MM/dd/yyyy'}}</strong> / End Date: {{BonusData.bonusEndDate | date: 'MM/dd/yyyy'}}</p>
                <p>Days Remaining On Current Bonus: <strong>{{BonusData.daysRemainingInt}}</strong></p>
            </div>
        </div>



        <div class="row">
            <div class="col-sm-6 bottom-buffer">
                <h3>Bonus Details </h3>
                <div style="height:485px; overflow:auto">
                    <table class="table table-leagues table-hover table-td-center table-bordered table-td-middle">
                        <thead>
                            <tr>
                                <th class="text-center">Amt.</th>
                                <th class="text-center">Description</th>
                                <th class="text-center">Date</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr ng-repeat="bddata in BDetData ">
                                <td>{{bddata.value | currency}}</td>
                                <td>{{bddata.description}}</td>
                                <td>{{bddata.dateOccurred | date: "MM/dd/yyyy" }}</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-sm-6 bottom-buffer" style="visibility:hidden">
                <h3>Expired Bonuses</h3>


                <table class="table table-leagues table-hover table-td-center table-bordered table-td-middle">
                    <thead>
                        <tr>
                            <th class="text-center">Bonus ID</th>
                            <th class="text-center">End Date</th>
                            <th class="text-center">Total &amp; Cleared</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                Text
                            </td>
                            <td>
                                07/07/2017
                            </td>
                            <td>
                                $60
                            </td>
                        </tr>

                    </tbody>
                </table>

            </div>
        </div>

    </div>


</div>