
<style media="screen" type="text/css">
  .error {
    color: red;
  }
</style>

    <div class="row">
      <!--
            <div class="col-xs-12 text-center padding-sm">
                <button class="btn btn-primary">Universal Player Swap</button>
            </div>
            -->

    </div>
    <div class="error-field">
      <ul class="no-margin">
        <li class="error" ng-repeat="e in errors()">{{e}}</li>
      </ul>
    </div>
    <div class="list-group list-default">
      <a ng-repeat="slot in lineupMod()" href="" class="list-group-item">
        <span class="badge"><span ng-show="slot.salary > 0 && !slot.playerGameHasStarted" ng-click="removePlayer(slot)" class="glyphicon icon-cross-mark"></span></span>
        <strong>{{ slot.position }}</strong> <span ng-show="slot.salary > 0">{{ slot | playerLineupDisplay }} </span>
      </a>
    </div>


<div class="panel panel-default panel-fill">
  <div class="panel-body">
    <table class="table table-td-middle borderless no-margin">
      <tbody>
        <tr>
          <td><strong>Salary Remaining:</strong></td>
          <td class="text-right"><span class="currency" ng-class="{'text-success': (remainingSalary() > 0), 'text-danger': (remainingSalary() < 0) }">{{ remainingSalary() | currency:undefined:0}}</span></td>
        </tr>
        <tr>
          <td><strong>Avg. Salary Remaining:</strong></td>
          <td class="text-right"><span class="currency">{{ averageRemainingSalary() | currency:undefined:0}}</span></td>
        </tr>
      </tbody>
    </table>
    <hr>
    <input type="checkbox" ng-model="arsBox" ng-click="onChangeArs(arsBox)"> <span class="small">Filter Player Grid by Avg. Salary Remaining</span>
  </div>
</div>

<div class="text-right">
  <button ng-click="clearLineup()" class="btn btn-default">Clear All</button>
  <button ng-click="saveLineup()" class="btn btn-red">Save Lineup</button>
</div>

<div class="text-right small">
  <a ng-click="showImportModal()">Import</a> -
  <a ng-click="showExportModal()">Export</a>
  <span class="glyphicon icon-question" data-toggle="tooltip" data-placement="top" title="Help" popover-trigger="mouseenter" uib-popover="Click to import and save a lineup from a different league, or to save this lineup to other leagues. You can only import your lineup to leagues with the same start time, game matches, and salary cap."></span>
</div>
