<div ng-include="'/app/shared/header/header.html'"></div>
<main class="container container-body">
    <div>
        <div class="content content-header">
            <h2 class="text-center">Account Locked</h2>
        </div>
        <div class="content">
            <div class="bg-warning padding-lg">
                <h4><strong>Your account is currently blocked from real-money games</strong></h4>
                <p>
                    You have logged on to Knockout Picks from a banned state (one that does not allow real-money online fantasy sports). Due to legal restrictions we are forced to restrict your account from playing real-money games. We're sorry for any inconvenience.
                </p>
                <p>
                    In the future, please refrain from logging on to Knockout Picks from these states regions: Arizona, Arkansas, Delaware, Iowa, Kansas, Louisiana, Montana, Tennessee, Washington, Prince Edward Island, Quebec.
                </p>
                <p>
                    Please contact <a data-toggle="modal" ng-controller="supportSharedPopupController" ng-click="displaySupportModal()">Support</a> for information on how to unlock your account.
                </p>
            </div>
        </div>
    </div>
</main>