<!--SEASON OVERVIEW-->
<div class="col-xs-2 padding-xs text-center">
    <div class="panel panel-default">
        <div class="panel-heading padding-xs">
            <strong><small>FPPG</small></strong>
        </div>
        <div class="panel-body padding-xs">
            <small>{{getStat(data,'FPPG')}}</small>
        </div>
    </div>
</div>

<div class="col-xs-2 padding-xs text-center">
    <div class="panel panel-default">
        <div class="panel-heading padding-xs">
            <strong><small>PTS</small></strong>
        </div>
        <div class="panel-body padding-xs">
            <small>{{getStat(data,'PTS')}}</small>
        </div>
    </div>
</div>

<div class="col-xs-2 padding-xs text-center">
    <div class="panel panel-default">
        <div class="panel-heading padding-xs">
            <strong><small>AST</small></strong>
        </div>
        <div class="panel-body padding-xs">
            <small>{{getStat(data,'AST')}}</small>
        </div>
    </div>
</div>

<div class="col-xs-2 padding-xs text-center">
    <div class="panel panel-default">
        <div class="panel-heading padding-xs">
            <strong><small>REB</small></strong>
        </div>
        <div class="panel-body padding-xs">
            <small>{{getStat(data,'REB')}}</small>
        </div>
    </div>
</div>

<div class="col-xs-2 padding-xs text-center">
    <div class="panel panel-default">
        <div class="panel-heading padding-xs">
            <strong><small>STL</small></strong>
        </div>
        <div class="panel-body padding-xs">
            <small>{{getStat(data,'STL')}}</small>
        </div>
    </div>
</div>


<div class="col-xs-2 padding-xs text-center">
    <div class="panel panel-default">
        <div class="panel-heading padding-xs">
            <strong><small>BLK</small></strong>
        </div>
        <div class="panel-body padding-xs">
            <small>{{getStat(data,'BLK')}}</small>
        </div>
    </div>
</div>
