<div class="col-xs-2 padding-xs text-center">
    <div class="panel panel-default">
        <div class="panel-heading padding-xs">
            <strong><small>FPPG</small></strong>
        </div>
        <div class="panel-body padding-xs">
            <small>{{data.fantasyPoints | statFilter:true | currency:'':2}}</small>
        </div>
    </div>
</div>

<div class="col-xs-2 padding-xs text-center">
    <div class="panel panel-default">
        <div class="panel-heading padding-xs">
            <strong><small>TD</small></strong>
        </div>
        <div class="panel-body padding-xs">
            <small>{{data.rushing_Attempts | statFilter}}</small>
        </div>
    </div>
</div>

<div class="col-xs-2 padding-xs text-center">
    <div class="panel panel-default">
        <div class="panel-heading padding-xs">
            <strong><small>RTD</small></strong>
        </div>
        <div class="panel-body padding-xs">
            <small>{{data.rushing_Yards | statFilter}}</small>
        </div>
    </div>
</div>

<div class="col-xs-2 padding-xs text-center">
    <div class="panel panel-default">
        <div class="panel-heading padding-xs">
            <strong><small>INT</small></strong>
        </div>
        <div class="panel-body padding-xs">
            <small>{{data.rushing_TouchDowns | statFilter}}</small>
        </div>
    </div>
</div>

<div class="col-xs-2 padding-xs text-center">
    <div class="panel panel-default">
        <div class="panel-heading padding-xs">
            <strong><small>FR</small></strong>
        </div>
        <div class="panel-body padding-xs">
            <small>{{data.receiving_Yards | statFilter}}</small>
        </div>
    </div>
</div>

<div class="col-xs-2 padding-xs text-center">
    <div class="panel panel-default">
        <div class="panel-heading padding-xs">
            <strong><small>SACK</small></strong>
        </div>
        <div class="panel-body padding-xs">
            <small>{{data.receiving_Yards | statFilter}}</small>
        </div>
    </div>
</div>

