<div class="col-xs-2 padding-xs text-center">
    <div class="panel panel-default">
        <div class="panel-heading padding-xs">
            <strong><small>FPPG</small></strong>
        </div>
        <div class="panel-body padding-xs">
            <small>{{data.fantasyPoints | statFilter:true | currency:'':2}}</small>
        </div>
    </div>
</div>

<div class="col-xs-2 padding-xs text-center">
    <div class="panel panel-default">
        <div class="panel-heading padding-xs">
            <strong><small>REC</small></strong>
        </div>
        <div class="panel-body padding-xs">
            <small>{{data.receptions | statFilter}}</small>
        </div>
    </div>
</div>

<div class="col-xs-2 padding-xs text-center">
    <div class="panel panel-default">
        <div class="panel-heading padding-xs">
            <strong><small>RECYDS</small></strong>
        </div>
        <div class="panel-body padding-xs">
            <small>{{data.receiving_Yards | statFilter}}</small>
        </div>
    </div>
</div>

<div class="col-xs-2 padding-xs text-center">
    <div class="panel panel-default">
        <div class="panel-heading padding-xs">
            <strong><small>RECTD</small></strong>
        </div>
        <div class="panel-body padding-xs">
            <small>{{data.receiving_Touchdowns | statFilter}}</small>
        </div>
    </div>
</div>

<div class="col-xs-2 padding-xs text-center">
    <div class="panel panel-default">
        <div class="panel-heading padding-xs">
            <strong><small>RUYDS</small></strong>
        </div>
        <div class="panel-body padding-xs">
            <small>{{data.rushing_Yards | statFilter}}</small>
        </div>
    </div>
</div>

<div class="col-xs-2 padding-xs text-center">
    <div class="panel panel-default">
        <div class="panel-heading padding-xs">
            <strong><small>RUTD</small></strong>
        </div>
        <div class="panel-body padding-xs">
            <small>{{data.rushing_TouchDowns | statFilter}}</small>
        </div>
    </div>
</div>

