<!--SEASON OVERVIEW-->
<div class="col-xs-2 padding-xs text-center">
    <div class="panel panel-default">
        <div class="panel-heading padding-xs">
            <strong><small>FPPG</small></strong>
        </div>
        <div class="panel-body padding-xs">
            <small>{{data.fantasyPoints | statFilter:true | currency:'':2}}</small>
        </div>
    </div>
</div>

<div class="col-xs-2 padding-xs text-center">
    <div class="panel panel-default">
        <div class="panel-heading padding-xs">
            <strong><small>PAYDS</small></strong>
        </div>
        <div class="panel-body padding-xs">
            <small>{{data.passing_Yards | statFilter}}</small>
        </div>
    </div>
</div>

<div class="col-xs-2 padding-xs text-center">
    <div class="panel panel-default">
        <div class="panel-heading padding-xs">
            <strong><small>PATD</small></strong>
        </div>
        <div class="panel-body padding-xs">
            <small>{{data.passing_Touchdown | statFilter}}</small>
        </div>
    </div>
</div>

<div class="col-xs-2 padding-xs text-center">
    <div class="panel panel-default">
        <div class="panel-heading padding-xs">
            <strong><small>INT</small></strong>
        </div>
        <div class="panel-body padding-xs">
            <small>{{data.interceptions | statFilter}}</small>
        </div>
    </div>
</div>

<div class="col-xs-2 padding-xs text-center">
    <div class="panel panel-default">
        <div class="panel-heading padding-xs">
            <strong><small>RUYDS</small></strong>
        </div>
        <div class="panel-body padding-xs">
            <small>{{data.rushing_Yards | statFilter}}</small>
        </div>
    </div>
</div>

<div class="col-xs-2 padding-xs text-center">
    <div class="panel panel-default">
        <div class="panel-heading padding-xs">
            <strong><small>RUTD</small></strong>
        </div>
        <div class="panel-body padding-xs">
            <small>{{data.rushing_Touchdown | statFilter}}</small>
        </div>
    </div>
</div>

