<!--SEASON OVERVIEW-->
<div class="col-xs-2 padding-xs text-center">
    <div class="panel panel-default">
        <div class="panel-heading padding-xs">
            <strong><small>FPPG</small></strong>
        </div>
        <div class="panel-body padding-xs">
            <small>{{getStat(data,'FPPG')}}</small>
        </div>
    </div>
</div>

<div class="col-xs-2 padding-xs text-center">
    <div class="panel panel-default">
        <div class="panel-heading padding-xs">
            <strong><small>W</small></strong>
        </div>
        <div class="panel-body padding-xs">
            <small>{{getStat(data,'WINS')}}</small>
        </div>
    </div>
</div>

<div class="col-xs-2 padding-xs text-center">
    <div class="panel panel-default">
        <div class="panel-heading padding-xs">
            <strong><small>L</small></strong>
        </div>
        <div class="panel-body padding-xs">
            <small>{{getStat(data,'LOSSES')}}</small>
        </div>
    </div>
</div>

<div class="col-xs-2 padding-xs text-center">
    <div class="panel panel-default">
        <div class="panel-heading padding-xs">
            <strong><small>OTL</small></strong>
        </div>
        <div class="panel-body padding-xs">
            <small>{{getStat(data,'OTL')}}</small>
        </div>
    </div>
</div>

<div class="col-xs-2 padding-xs text-center">
    <div class="panel panel-default">
        <div class="panel-heading padding-xs">
            <strong><small>GAA</small></strong>
        </div>
        <div class="panel-body padding-xs">
            <small>{{getStat(data,'GAA')}}</small>
        </div>
    </div>
</div>


<div class="col-xs-2 padding-xs text-center">
    <div class="panel panel-default">
        <div class="panel-heading padding-xs">
            <strong><small>SV%</small></strong>
        </div>
        <div class="panel-body padding-xs">
            <small>{{getStat(data,'SV%')}}</small>
        </div>
    </div>
</div>
