<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Incoming Cashier Request Redirect" stopProcessing="true">
          <!--
            take any URL incoming that starts with cashier, like "www.knockoutpicks.com/cashier/PayPalComplete?token=12345&id=asdfg" 
            The match will match against the "cashier/PayPalComplete?token=12345&id=asdfg" part
          -->
          <match url="^cashier/.*$" />
          <!--
            redirect it to to the my-account page, with the expected URL in the query string. 
            Note that the hash (#my-account) goes after the query string in the URL. 
            So we redirect to this
            "?cashUri=[encoded url]#/my-account"
            which comes out to be
            "?cashUri=cashier%2FPayPalComplete%3Ftoken%3D12345%26id%3Dasdfg#/my-account"
            
            In the end it becomes this:
            "www.knockoutpicks.com/?cashUri=cashier%2FPayPalComplete%3Ftoken%3D12345%26id%3Dasdfg#/my-account"
            
            The client side can then pull out the cashUri from the querystring "cashier%2FPayPalComplete%3Ftoken%3D12345%26id%3Dasdfg"
            which decodes back to the "cashier/PayPalComplete?token=12345&id=asdfg"
          -->
          <action type="Redirect" url="?cashUri={UrlEncode:{R:0}?{QUERY_STRING}}#/my-account?tab=cashier" appendQueryString="false" redirectType="Found" />
        </rule>
        
        <rule name="Incoming Account Email Verification Request" stopProcessing="true">
          <!-- 
            take any URL incoming that's for account verification, like "www.knockoutpicks.com/Account/UserVerification/?id=asdf&username=asdf&tkn=asdf"
            redirect it to
            www.knockoutpicks.com/?verificationparams=id%3Dasdf%26username%3Dasdf%26tkn%3Dasdf#/emailVerifyCallback
          -->
          <match url="^account/userverification.*$" />
          <action type="Redirect" url="?verificationparams={UrlEncode:{QUERY_STRING}}#/emailVerifyCallback" appendQueryString="false" redirectType="Found" />
        </rule>

        <rule name="Incoming Password Reset" stopProcessing="true">
          <!-- 
            take any URL incoming that's for account verification, like "www.knockoutpicks.com/Account/ResetPassword/?id=d0a783830399e337be2cad7489f10205&username=ko_register_10&tkn=4e18136b-bbcd-47ce-a37b-751c307995ae"
            redirect it to
            www.knockoutpicks.com/?resetparams=id%3Dd0a783830399e337be2cad7489f10205%26username%3Dko_register_10%26tkn%3D4e18136b-bbcd-47ce-a37b-751c307995ae#/resetPassword
          -->
          <match url="^account/resetpassword/.*$" />
          <action type="Redirect" url="?resetparams={UrlEncode:{QUERY_STRING}}#/resetPassword" appendQueryString="false" redirectType="Found" />
        </rule>


        <!-- The below rewrite rules are for URLs that are placed into emails as links. Like "visit the leadearboard here: kop.com/Leaderboard/"-->
        
        <rule name="Incoming My Account" stopProcessing="true">
          <!-- take any URL incoming that's for the account page redirect it to www.knockoutpicks.com/#/my-account -->
          <match url="^account/myaccount.*$" />
          <action type="Redirect" url="/#/my-account" appendQueryString="false" redirectType="Found" />
        </rule>

        <rule name="Incoming Login" stopProcessing="true">
          <!-- take any URL incoming that's for the account login page redirect it to www.knockoutpicks.com/#/landing -->
          <match url="^account/login.*$" />
          <action type="Redirect" url="/#/landing" appendQueryString="false" redirectType="Found" />
        </rule>

        <rule name="Incoming Leaderboard" stopProcessing="true">
          <!-- take any URL incoming that's for the leaderboard page redirect it to www.knockoutpicks.com/#/leaderboards -->
          <match url="^Leaderboard.*$" />
          <action type="Redirect" url="/#/leaderboards" appendQueryString="false" redirectType="Found" />
        </rule>

        <rule name="Incoming Terms of Use" stopProcessing="true">
          <!-- take any URL incoming that's for the terms of use page redirect it to www.knockoutpicks.com/#/terms-of-use -->
          <match url="^Home/TermsOfUse.*$" />
          <action type="Redirect" url="/#/terms-of-use" appendQueryString="false" redirectType="Found" />
        </rule>
      </rules>
    </rewrite>
        <httpProtocol>
            <customHeaders>
                <add name="P3P" value="CP=&quot;CURa ADMa DEVa CONo HISa OUR IND DSP ALL COR&quot;" />
            </customHeaders>
        </httpProtocol>
  </system.webServer>
  <system.web>
    <compilation debug="true" />
  </system.web>
</configuration>