<!-- CANADA Eligibility Modal -->
<div class="modal fade" id="canadaEligibility" tabindex="-1" role="dialog" aria-labelledby="canadaEligibilityLabel">
    <div class="modal-dialog" role="document" ng-controller="validStatesController">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="glyphicon icon-cross-mark" aria-hidden="true"></span></button>
            </div>
            <div class="modal-body text-center">

                <span class="sprite canada-flag"></span>
                <h2>CANADA ELIGIBILITY</h2>
                <p class="top-buffer">
                    The following provinces do not allow fantasy sports competition for cash: <span ng-repeat="state in statesNotAllowedCAN">{{state.name}}{{$last ? '' : ($index==statesNotAllowedCAN.length-2) ? ' and ' : ', '}}</span> are not eligible to participate. Residents of <span ng-repeat="state in age19CAN">{{state.name}}{{$last ? '' : ($index==age19CAN.length-2) ? ' and ' : ', '}}</span> must be 19 years of age to play in cash Daily Fantasy Sports contests.
                </p>
                <p>
                    If you fall outside these provinces and are still having trouble depositing, or have deposit questions in general please do not hesitate to <a data-toggle="modal" ng-controller="supportSharedPopupController" ng-click="displaySupportModal()">contact us.</a>
                </p>
            </div>
        </div>
    </div>
</div>