<!-- this will be where the ngView directives go -->
<div ng-include="'/app/shared/header/contentHeader.html'"></div>



<section>
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <div class="container-body text-center">
        <h2>Smaller Pools, Larger Payouts.</h2>
        <p class="lead padding-md">Knockout Picks' small player pools increase fan’s chances of winning. Plus we also offer larger payouts! Better odds AND more money? That’s a no-brainer. Get in the game!</p>
        <button class="btn btn-lg btn-red" ng-click="displayRegisterModal()">Get Started</a>
      </div>
    </div>
  </div>
</section>

<section class="whyus">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <div class="container-body">
        <h2 class="text-center">Your game! anytime, anywhere.</h2>
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-7">
            <div>
              <img class="img-responsive img-resp-center" src="/assets/images/whyus-mobile.png">
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-5">
            <ul>
              <li>
                <h3>Play Anywhere</h3>
                <p>Available on desktop, tablet and mobile devices.</p>
              </li>
              <li>
                <h3>No Commitment</h3>
                <p>No season-long commitment. Avoid the injury bug and draftday busts.</p>
              </li>
              <li>
                <h3>Something for Every Fan</h3>
                <p>Choose from free or paid contests and win real cash prizes.</p>
              </li>
            </ul>
            <button class="btn btn-lg btn-red">Play Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <div class="container-body text-center">
        <h2>How to play</h2>

        <div class="row">
          <div class="col-xs-12 col-sm-4 bottom-buffer">
            <img class="img-responsive img-resp-center" src="/assets/images/howtoplay-step1.png">
            <h3 class="text-center">Enter a contest</h3>
          </div>
          <div class="col-xs-12 col-sm-4 bottom-buffer">
            <img class="img-responsive img-resp-center" src="/assets/images/howtoplay-step2.png">
            <h3 class="text-center">Pick Your Lineup</h3>
          </div>
          <div class="col-xs-12 col-sm-4 bottom-buffer">
            <img class="img-responsive img-resp-center" src="/assets/images/howtoplay-step3.png">
            <h3 class="text-center">Compete to Win</h3>
          </div>
        </div>
        <button class="btn btn-lg btn-red top-buffer" ng-click="displayRegisterModal()">let's Do It</a>
      </div>
    </div>
  </div>
</section>

<section class="footer-playnow">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <div class="container-body">
        <div class="row">
          <div class="col-xs-12 col-sm-8">
            <h3 class="text-center">Get your picks ready, time to play.</h3>
          </div>
          <div class="col-xs-12 col-sm-4 text-center">
            <button class="btn btn-lg btn-ghost top-buffer" ng-click="displayRegisterModal()">Start Playing</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--<main class="container container-body">
    <div class="row top-buffer bottom-buffer">
        <div class="why-us">
            <div class="col-md-6 top-buffer">
                <h3>What is Knockout Picks?</h3>
                <p class="top-buffer">
                    Knockout Picks is a daily fantasy sports, weekly fantasy sports, and season long fantasy sports provider. Knockout Picks Games are games of skill offered legally in the USA and Canada.
                </p>
                <p class="top-buffer">
                    Compete for cash and prizes by depositing real money, or play in the free contests daily where you can win real cash. Terms and conditions apply, please visit the Knockout Picks webpage for details.
                </p>
            </div>
            <div class="col-md-6">
                <p class="text-center">
                    We cater to your fantasy sports experience, with first-class customer service.
                </p>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/138112599?title=0&byline=0&portrait=0"></iframe>
                </div>
            </div>
        </div>
    </div>


    <div class="row features">
        <div class="col-xs-6 col-md-3 text-center top-buffer">
            <span class="glyphicon icon-money-banknote"></span>
            <p>
                Play Free or Paid Contests <br>and Win Real Money
            </p>
        </div>
        <div class="col-xs-6 col-md-3 text-center top-buffer">
            <span class="glyphicon icon-trophy"></span>
            <p>
                Daily, Weekly and <br>Season-long Contests
            </p>
        </div>
        <div class="col-xs-6 col-md-3 text-center top-buffer">
            <span class="glyphicon icon-group"></span>
            <p>
                Lightning Fast Payouts<br> and Support
            </p>
        </div>
        <div class="col-xs-6 col-md-3 text-center top-buffer">
            <span class="glyphicon icon-like-filled"></span>
            <p>
                100% Legal, <br>100% Awesome!
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 text-center top-buffer bottom-buffer">
            <a class="btn btn-xl btn-primary" ng-click="displayRegisterModal()">Create Your Account</a>
        </div>
    </div>

</main>-->
