<tr>
    <td>{{getStat(y,'infoTitle')}} ({{getStat(y,'WINORLOSS')}})</td>
    <td>{{getStat(y,'SCORE')}}</td>
    <td>{{getStat(y,'gameDate')}}</td>
    <td>{{getStat(y,'FPPG')}}</td>
    <td>{{getStat(y,'GP')}}</td>
    <td>{{getStat(y,'RAT')}}</td>
    <td>{{getStat(y,'RYDS')}}</td>
    <td>{{getStat(y,'RUAVG')}}</td>
    <td>{{getStat(y,'RUYPG')}}</td>
    <td>{{getStat(y,'RULR')}}</td>
    <td>{{getStat(y,'RUTD')}}</td>
    <td>{{getStat(y,'REC')}}</td>
    <td>{{getStat(y,'REYDS')}}</td>
    <td>{{getStat(y,'REAVG')}}</td>
    <td>{{getStat(y,'REL')}}</td>
    <td>{{getStat(y,'RETD')}}</td>
    <td>{{getStat(y,'FUM')}}</td>
    <td>{{getStat(y,'FLST')}}</td>
</tr>
