<tr>
    <td>{{getStat(y,'infoTitle')}}</td>
    <td>{{getStat(y,'FP')}}</td>
    <td>{{getStat(y,'gameDate')}}</td>
    <td>{{getStat(y,'FPPG')}}</td>
    <td>{{getStat(y,'AB')}}</td>
    <td>{{getStat(y,'H')}}</td>
    <td>{{getStat(y,'R')}}</td>
    <td>{{getStat(y,'HR')}}</td>
    <td>{{getStat(y,'RBI')}}</td>
    <td>{{getStat(y,'D')}}</td>
    <td>{{getStat(y,'T')}}</td>
    <td>{{getStat(y,'BB')}}</td>
    <td>{{getStat(y,'KO')}}</td>
    <td>{{getStat(y,'SB')}}</td>
    <td>{{getStat(y,'CS')}}</td>
    <td>{{getStat(y,'SAC')}}</td>
    <td>{{getStat(y,'AVG')}}</td>
    <td>{{getStat(y,'OBP')}}</td>
    <td>{{getStat(y,'SLG')}}</td>
    <td>{{getStat(y,'OPS')}}</td>
</tr>