<tr>
    <td>{{getStat(y,'infoTitle')}}</td>
    <td>{{getStat(y,'FPPG')}}</td>
    <td>{{getStat(y,'GP')}}</td>
    <td>{{getStat(y,'REC')}}</td>
    <td>{{getStat(y,'REYDS')}}</td>
    <td>{{getStat(y,'REAVG') }}</td>
    <td>{{getStat(y,'REYPG') | number:2}}</td>
    <td>{{getStat(y,'REL')}}</td>
    <td>{{getStat(y,'RETD')}}</td>
    <td>{{getStat(y,'RAT')}}</td>
    <td>{{getStat(y,'RUYDS')}}</td>
    <td>{{getStat(y,'RUYPG')}}</td>
    <td>{{getStat(y,'RULR')}}</td>
    <td>{{getStat(y,'RUTD')}}</td>
    <td>{{getStat(y,'FUM')}}</td>
    <td>{{getStat(y,'FLST')}}</td>
</tr>
