<!--SEASON SPLITS-->
<tr>
    <td>{{getStat(y,'infoTitle')}}</td>
    <td>{{getStat(y,'FPPG')}}</td>
    <td>{{getStat(y,'GP')}}</td>
    <td>{{getStat(y,'CMP')}}</td>
    <td>{{getStat(y,'PATT')}}</td>
    <td>{{getStat(y,'PYDS')}}</td>
    <td>{{getStat(y,'CMP%')}}</td>
    <td>{{getStat(y,'PAVG') | number:2}}</td>
    <td>{{getStat(y,'RLNG')}}</td>
    <td>{{getStat(y,'PTD')}}</td>
    <td>{{getStat(y,'INT')}}</td>
    <td>{{getStat(y,'FUM')}}</td>
    <td>{{getStat(y,'TPC')}}</td>
    <td>{{getStat(y,'PRAT')}}</td>
    <td>{{getStat(y,'RAT')}}</td>
    <td>{{getStat(y,'RYDS')}}</td>
    <td>{{getStat(y,'RAVG')}}</td>
    <td>{{getStat(y,'RUTD')}}</td>
</tr>