<!--SEASON SPLITS-->
<tr>
    <td>{{getStat(y,'infoTitle')}}</td>
    <td>{{getStat(y,'GP')}}</td> 
    <td>{{getStat(y,'FPPG')}}</td>
    <td>{{getStat(y,'DEC')}}</td>
    <td>{{getStat(y,'WINS')}}</td>
    <td>{{getStat(y,'LOSSES')}}</td>
    <td>{{getStat(y,'OTL')}}</td>
    <td>{{getStat(y,'GA')}}</td>
    <td>{{getStat(y,'SA')}}</td>
    <td>{{getStat(y,'SV')}}</td>
    <td>{{getStat(y,'SV%')}}</td>
    <td>{{getStat(y,'GAA')}}</td>
    <td>{{getStat(y,'SO')}}</td>
    <td>{{getStat(y,'PIM')}}</td>
    <td>{{getStat(y,'ENGA')}}</td>
    <td>{{getStat(y,'GP')}}</td>
    <td>{{getStat(y,'GS')}}</td>
    <td>{{getStat(y,'TOI')}}</td>
</tr>