<div class="panel panel-default" style="position:fixed;left:1em;top:2em">
    <div class="panel-heading">Test Lobby Refresher - Focused Id: <span>{{focusedFantasyLeague.fantasyLeagueID}} </div>
    <div panel-body>
        <table style="background-color:rgb(135, 155, 173)" class="table">
            <thead>
                <tr>
                    <th>Property</th>
                    <th>Current Value</th>
                    <th>New Value</th>
                </tr>
            </thead>
            <tbody ng-if="focusedFantasyLeague" id="testlobbyrefreshbody">
                <tr ng-repeat="prop in props">
                    <td><b>{{prop}}</b></td>
                    <td>{{focusedFantasyLeague[prop]}}</td>
                    <td><input style="width:4em" type="number" ng-model="focusedFantasyLeague[prop]" /></td>
                </tr>
            </tbody>
        </table>
        <input style="width:4em" type="number" ng-model="updateIn" /><span>Seconds</span>
        <button ng-click="updateFantasyLeague()">Update</button> <button style="float:right" ng-click="testRefresh()">Full refresh</button>
    </div>
</div>>