<script type="text/ng-template" id="JoinedLeagueMaxTimesModalContent.html">
    <!-- Joined League Max Amount of Times -->
    <div class="modal-header" id="joinedLeagueMaxTimes" tabindex="-1" role="dialog" aria-labelledby="joinedLeagueMaxTimes">
        <button type="button" class="close" data-dismiss="modal" ng-click="cancel()" aria-label="Close"><span class="glyphicon icon-cross-mark" aria-hidden="true"></span></button>
    </div>

    <div class="modal-body modal-leagues">
        <h2 class="text-center bottom-buffer">You've Already Joined This League!</h2>
        <p class="text-center bottom-buffer">What would you like to do next?</p>
        <div class="text-center top-buffer">
            <button type="button" class="btn btn-lg btn-default" ng-click="cancel()">Return To Lobby</button>
            <a ng-show="id != null && leagueTeamID != null" class="btn btn-lg btn-default" href="/#/draft/{{id}}/{{leagueTeamID}}">Return To Lineup</a>
        </div>
    </div>

</script>