<th class="borderless text-center"><a ng-click="sortMe('ranking')">Rank</a></th>
<th class="borderless text-center"><a ng-click="sortMe('name')">Name</a></th>
<th class="borderless text-center"><a ng-click="sortMe('salary')">Salary</a></th>
<th class="borderless text-center"><a ng-click="sortMe('statistics.realMatchup')">Matchup</a></th>
<th class="borderless text-center"><a ng-click="sortMe('statistics.gamesPlayed')">GP</a></th>

<th ng-show="['ALL', 'W', 'C', 'D', 'FLEX'].indexOf(activePosName) > -1" class="borderless text-center"><a ng-click="sortMe('statistics.goals')">G</a></th>
<th ng-show="['ALL', 'W', 'C', 'D', 'FLEX'].indexOf(activePosName) > -1" class="borderless text-center"><a ng-click="sortMe('statistics.assists')">A</a></th>
<th ng-show="['ALL', 'W', 'C', 'D', 'FLEX'].indexOf(activePosName) > -1" class="borderless text-center"><a ng-click="sortMe('statistics.plusMinus')">+/-</a></th>
<th ng-show="['ALL', 'W', 'C', 'D', 'FLEX'].indexOf(activePosName) > -1" class="borderless text-center"><a ng-click="sortMe('statistics.shotsOnGoal')">SOG</a></th>
<th ng-show="['ALL', 'W', 'C', 'D', 'FLEX'].indexOf(activePosName) > -1" class="borderless text-center"><a ng-click="sortMe('statistics.blocks')">BS</a></th>


<th ng-show="['W', 'C', 'D', 'FLEX'].indexOf(activePosName) > -1" class="borderless text-center"><a ng-click="sortMe('statistics.powerPlayGoals')">PPG</a></th>
<th ng-show="['W', 'C', 'D', 'FLEX'].indexOf(activePosName) > -1" class="borderless text-center"><a ng-click="sortMe('statistics.powerPlayAssists')">PPA</a></th>

<th ng-show="['ALL', 'W', 'C', 'D', 'FLEX'].indexOf(activePosName) > -1" class="borderless text-center"><a ng-click="sortMe('statistics.penaltyMinutes')">PIM</a></th>

<th ng-show="['ALL', 'G'].indexOf(activePosName) > -1" class="borderless text-center"><a ng-click="sortMe('statistics.wins')">W</a></th>
<th ng-show="['ALL', 'G'].indexOf(activePosName) > -1" class="borderless text-center"><a ng-click="sortMe('statistics.losses')">L</a></th>

<th ng-show="['G'].indexOf(activePosName) > -1" class="borderless text-center"><a ng-click="sortMe('statistics.overtimeLosses')">OTL</a></th>
<th ng-show="['G'].indexOf(activePosName) > -1" class="borderless text-center"><a ng-click="sortMe('statistics.shotsAgainst')">SA</a></th>
<th ng-show="['G'].indexOf(activePosName) > -1" class="borderless text-center"><a ng-click="sortMe('statistics.saves')">SV</a></th>
<th ng-show="['G'].indexOf(activePosName) > -1" class="borderless text-center"><a ng-click="sortMe('statistics.savePercentage')">SV%</a></th>
<th ng-show="['G'].indexOf(activePosName) > -1" class="borderless text-center"><a ng-click="sortMe('statistics.goalsAgainstAverage')">GAA</a></th>
<th ng-show="['G'].indexOf(activePosName) > -1" class="borderless text-center"><a ng-click="sortMe('statistics.shutouts')">SO</a></th>
<th ng-show="['ALL','G'].indexOf(activePosName) > -1" class="borderless text-center"><a ng-click="sortMe('statistics.goalsAllowed')">GA</a></th>


<th class="borderless text-center"><a ng-click="sortMe('statistics.averageFantasyPoints')">FFPG</a></th>