<div class="panel panel-default panel-fill" ng-controller="GameCenterController">
  <div class="top-buffer" ng-show="loading">
      <div ng-include="'app/shared/spinner/spinner.html'"></div>
  </div>
  <div class="panel-body bottom-buffer" ng-show="!loading">
    <h3 class="no-margin top-buffer text-center">Live Game Center</h3>
    <p ng-hide="activeLeagues.length == 0" class="text-center small bottom-buffer"><strong>#Games:</strong> {{activeLeagues.length}} / <strong>Cash In Play:</strong> {{cashInPlay | currency}} / <strong>Winning:</strong> {{winnings | currency}}</p>
    <div pagedcarousel limit="4" listdata="activeLeagues" parentclass="'col-sm-10 col-sm-offset-1'" elementclass="'col-sm-3 top-buffer'">
      <div class="scores-live btn btn-ghost clickable">
        <a href="#myScores/scoreboard/{{$parent.nextResult.fantasyLeagueID}}/{{$parent.nextResult.fantasyTeamID}}"></a>
        <div class="row no-margin">
          <div class="col-xs-2 no-padding">
            <span class="glyphicon icon-{{$parent.nextResult.sport.toLowerCase()}}"></span>
          </div>
          <div class="col-xs-12 no-padding">
            <small>{{$parent.nextResult.fantasyLeagueID}}  - {{$parent.nextResult.numPlayers}} / {{$parent.nextResult.prize | getPrizeWithCurr:$parent.nextResult.payoutCurrencyType:tenant.bonusPoints}}</small>
          </div>
          <div class="col-xs-10 no-padding">
            <span class="currency">#1:{{$parent.nextResult.highScore | defaultZero | number:2}}</span><br>
            ME: {{$parent.nextResult.score | defaultZero | number:2}} | <span class="text-primary">#{{$parent.nextResult.place | defaultZero }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
