<div ng-show="focusedPreviewTeamData" ng-controller="scoreBoardPreviewController" uib-collapse="hideScorePreview" class="bottom-buffer" id="scoresGameContent">

  <div class="panel panel-default no-margin">
    <div class="panel-heading panel-fill">
      <div class="row no-margin">
        <div class="col-sm-9 no-padding">
          <h4 id="test"><span class="glyphicon icon-{{leagueID | getLeagueStr | lowercase}}"></span> {{leagueID | getLeagueStr}} {{focusedPreviewTeamData.entryFee|entryFeeTicketFilter:focusedPreviewTeamData.canOnlyBeJoinedWithTickets  }} // {{teamName}}</h4>
          <strong>Rank:</strong> #{{rank}} | <strong>From 1st:</strong> {{(totalPoints - fantasyLeague.highTeamScore) |number:2 }} <strong>Yet-to-play:</strong> {{ytp}}
          <a ng-show="showScoreboardLink" ng-href="#/myScores/scoreboard/{{$parent.focusedPreviewTeamData.fantasyLeagueID}}/{{$parent.focusedPreviewTeamData.fantasyTeamID}}" class="btn btn-red">Scoreboard</a>
        </div>
        <div class="col-sm-3 no-padding text-center">
          <p class="top-buffer">
            <strong>Total Points</strong>
            <h3 class="no-margin currency">{{(totalPoints | number:2) || 0}}</h3>
          </p>
        </div>
      </div>
    </div>
  </div>

  <score-board-data league-id="leagueID" sport-id="fantasyLeague.sportID" season-id="2015" team-id="$parent.focusedPreviewTeamData.fantasyTeamID" pos="true" salary="true" owned="true" player-name="true" matchup="true" game-stats="true" points="true"></score-board-data>

</div>
