<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/bjqs-1.3.min.js"></script>
    <script src="/js/jquery.countdown.js"></script>
  </head>
  <body class="home">
    <div class="header-background">
      <!-- Mobile Navigation -->
      <nav class="navbar navbar-static-top hidden-md hidden-lg">
        <div class="navbar-header">
          <div class="container">
            <button type="button" class="navbar-icons left" data-toggle="collapse" data-target="#menuGeneral">
              <span class="glyphicon icon-align-justify"></span>
            </button>

            <a class="sprite navbar-brand" href="/"></a>

            <button type="button" class="navbar-icons right" data-toggle="collapse" data-target="#menuAccount">
              <span class="glyphicon icon-user"></span>
            </button>
          </div>
        </div>
      </nav>
      <div class="collapse hidden-md hidden-lg" id="menuGeneral">
        <div class="row">
          <div class="col-sm-6">
            <ul class="nav nav-pills nav-stacked">
              <li><a href="/">Lobby</a></li>
              <li><a href="/leagues">Leagues</a></li>
              <li><a href="/lineups">Lineups</a></li>
              <li><a href="/scores">Scores</a></li>
              <li><a href="/leaderboards">Leaderboards</a></li>
            </ul>
          </div>
          <div class="col-sm-6">
            <ul class="nav nav-pills nav-stacked">
              <li><a href="/how-to-play">How to Play</a></li>
              <li><a href="/rules">Rules</a></li>
              <li><a href="/faq">FAQ</a></li>
              <li><a data-toggle="modal" data-target="#support">Support</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="collapse hidden-md hidden-lg" id="menuAccount">
        <div class="row">
          <div class="col-xs-12">
            <ul class="nav nav-pills nav-stacked">
              <li class="bal-points">
                <strong>Balance:</strong> &dollar;500.00 <br>
                <strong>Points:</strong> 700
                <a href="/my-account" class="btn btn-default top-buffer">Add Funds</a>
              </li>
              <li><a href="/my-account">My Account</a></li>
              <li><a href="/promotions">Promotions</a></li>
              <li><a href="/logout">Logout</a></li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Desktop -->
      <nav class="navbar navbar-default main-menu visible-md visible-lg" role="navigation">
        <div class="container">
          <!-- Top Menus -->
          <div class="top-menu">
            <div class="user-menu">
              <ul class="list-inline">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <img class="avatar img-circle" src="/images/default-avatar.png"> KnockoutDan <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li class="bal-points">
                      <strong>Balance:</strong> &dollar;500.00 <br>
                      <strong>Points:</strong> 700
                    </li>
                    <li><a href="/my-account">My Account</a></li>
                    <li><a href="/promotions">Promotions</a></li>
                    <li><a href="/logout">Logout</a></li>
                  </ul>
                </li>
              </ul>
            </div>
            <div class="user-add-funds text-center">
              <div class="col-xs-6 no-padding">
                <a href="/my-account" class="btn btn-finance">Add Funds</a>
              </div>
            </div>
          </div>
          <!-- Main Menu -->
          <div class="row">
            <div class="col-md-5">
              <ul class="nav navbar-nav">
                <li class="active"><a href="/">Lobby</a></li>
                <li><a href="/leagues">Leagues</a></li>
                <li><a href="/lineups">Lineups</a></li>
                <li><a href="/scores">Scores</a></li>
                <li><a href="/leaderboards">Leaderboards</a></li>
              </ul>
            </div>
            <div class="col-md-2 no-padding">
              <a class="header-logo" href="/"><img class="img-responsive" src="/images/logo-large.png"></a>
            </div>
            <div class="col-md-5">
              <ul class="nav navbar-nav">
                <li><a href="/how-to-play">How to Play</a></li>
                <li><a href="/rules">Rules</a></li>
                <li><a href="/faq">FAQ</a></li>
                <li><a data-toggle="modal" data-target="#support">Support</a></li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </div>

    <main class="container container-body">

      <div class="content content-header">
        <h2 class="text-center">Frequently Asked Questions</h2>
      </div>

      <div class="content content-rules-feed">

        <div class="row">
          <div class="col-sm-6">

            <div class="panel-group" id="questions1" role="tablist" aria-multiselectable="true">

              <div class="panel panel-faq" id="question1">
                <div class="panel-heading" role="tab" id="question1-heading">
                  <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#questions1" href="#question1-collapse" aria-expanded="false" aria-controls="question1-collapse">
                      What is Knockout Picks?
                    </a>
                  </h4>
                </div>
                <div id="question1-collapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="question1-heading">
                  <div class="panel-body">
                    <p>
                      Knockout Picks brings the greatest variety of games in the fantasy Sports world with a user-friendly experience that has become harder and harder to find.
                    </p>
                    <p>
                      With a great team of designers and developers we have created a site with endless amounts of unique games in daily, weekly, and season-long formats.
                    </p>
                    <p>
                      Not ready to play for some dough? We have great freerolls! You can also play one of our smaller free daily games or play a free game for bragging rights and earn points towards cash games and prizes!
                    </p>
                  </div>
                </div>
              </div>

              <div class="panel panel-faq" id="question2">
                <div class="panel-heading" role="tab" id="question2-heading">
                  <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#questions1" href="#question2-collapse" aria-expanded="false" aria-controls="question2-collapse">
                      Is Knockout Picks Legal?
                    </a>
                  </h4>
                </div>
                <div id="question2-collapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="question2-heading">
                  <div class="panel-body">
                    <p>
                      Yes. Passed by the US Federal Government in 2006, the Unlawful Internet Gambling Enforcement Act included an exemption indicating legality of fantasy sports.
                    </p>
                    <p>
                      This exemption reads as follows:
                    </p>
                    <p>
                      "Participation in any fantasy or simulation sports game or educational game or contest in which (if the game or contest involves a team or teams) no fantasy or simulation team is based on the current membership of an actual team that is a member of an amateur or professional sports organization and meets the following conditions:
                      <ol>
                        <li>
                          All prizes and awards offered to winning participants are established and made known to the participants in advance of the game or contest and their value is not determined by the number of participants or the amount of any fees paid by participants.
                        </li>
                        <li>
                          All winning outcomes reflect the relative knowledge and skill of the participants and are determined predominantly by accumulated statistical results of the performance of individuals (athletes in the case of sports events) in multiple real-world sporting or other events.
                        </li>
                        <li>
                          No winning outcome is based: (a.) On the score, point spread, or any performance or performances of any single real world team or any combination of such teams; or (b.) Solely on any single performance of an individual athlete in any single real-world sporting or other event."
                        </li>
                      </ol>
                    </p>
                    <p>
                      Fantasy sports have been determined a “game of skill” and are therefore not within the scope of the various U.S. gambling laws.
                    </p>
                    <p>
                      Feel free to look over our <a href="/terms">terms of use</a> for any further info, or simply <a data-toggle="modal" data-target="#support">contact us</a> with inquiries as we are always available!
                    </p>
                    <p>
                      States not falling under this law: Arizona, Arkansas, Delaware, Iowa, Louisiana, Michigan, Montana, Tennessee, and Washington. Residents of Prince Edward Island and Quebec are not eligible to participate in Knockout Picks cash games.
                    </p>
                  </div>
                </div>
              </div>

              <div class="panel panel-faq" id="question3">
                <div class="panel-heading" role="tab" id="question3-heading">
                  <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#questions1" href="#question3-collapse" aria-expanded="false" aria-controls="question3-collapse">
                      When do I Receive Winnings for Daily Contests?
                    </a>
                  </h4>
                </div>
                <div id="question3-collapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="question3-heading">
                  <div class="panel-body">
                    <p>
                      Cash won in daily contests are distributed to all accounts within an hour after the last game is officially over -- providing that stats have become official.
                    </p>
                  </div>
                </div>
              </div>

              <div class="panel panel-faq" id="question4">
                <div class="panel-heading" role="tab" id="question4-heading">
                  <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#questions1" href="#question4-collapse" aria-expanded="false" aria-controls="question4-collapse">
                      What is a Freeroll?
                    </a>
                  </h4>
                </div>
                <div id="question4-collapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="question4-heading">
                  <div class="panel-body">
                    <p>
                      A Freeroll is a daily/weekly tournament that is played for free, either offered by Knockout Picks as a tournament that any player can join, or as a tournament for players willing to use a certain amount of their Knockout points.
                    </p>
                    <p>
                      Prizes for freerolls can include cash, Knockout Points Prizes or entries into big cash tournaments.
                    </p>
                  </div>
                </div>
              </div>

              <div class="panel panel-faq" id="question5">
                <div class="panel-heading" role="tab" id="question5-heading">
                  <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#questions1" href="#question5-collapse" aria-expanded="false" aria-controls="question5-collapse">
                      How Do I Earn My Deposit Bonus?
                    </a>
                  </h4>
                </div>
                <div id="question5-collapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="question5-heading">
                  <div class="panel-body">
                    <p>
                      Deposit bonuses are released into accounts at an incremental rate of 20% of the entry fee for whichever contest you have entered. Any deposit bonuses released into an account from the bonus section of their account is then available for withdrawal.
                    </p>
                  </div>
                </div>
              </div>

              <div class="panel panel-faq" id="question6">
                <div class="panel-heading" role="tab" id="question6-heading">
                  <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#questions1" href="#question6-collapse" aria-expanded="false" aria-controls="question6-collapse">
                      Do I Have to Pay Taxes on My Winnings?
                    </a>
                  </h4>
                </div>
                <div id="question6-collapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="question6-heading">
                  <div class="panel-body">
                    <p>
                      Knockout Picks is required to report any winnings of $600 (net of entry fees) or more for each individual to the Internal Revenue Service on Form 1099-MISC. Knockout Picks may request specific information from the winners prior to crediting their account with the winnings, this information will be used to report the necessary winnings in January of the following year. In addition, each January any winner who won $600 or more in the previous year will be asked to provide an updated address and social security number (if not previously provided).
                    </p>
                  </div>
                </div>
              </div>

              <div class="panel panel-faq" id="question7">
                <div class="panel-heading" role="tab" id="question7-heading">
                  <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#questions1" href="#question7-collapse" aria-expanded="false" aria-controls="question7-collapse">
                      Do I get a Referral Bonus for Guaranteed (gpp) Leagues?
                    </a>
                  </h4>
                </div>
                <div id="question7-collapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="question7-heading">
                  <div class="panel-body">
                    <p>
                       You will receive a referral bonus from players that you refer that:
                    </p>
                    <ul>
                      <li>
                         Enters and plays in any Leagues/Tournament that has an entry fee and does not cancel.
                      </li>
                      <li>
                         Enters and plays in any Guaranteed Leagues/Tournament that has an entry fee ONLY if the league fills.
                      </li>
                    </ul>
                    <p>
                       You will not receive a referral bonus from players that you refer that play in Freeroll Leagues/Tournaments or in any League/Tournament that does not have a U.S. Dollar entry fee.
                    </p>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <div class="col-sm-6">

            <div class="panel-group" id="questions2" role="tablist" aria-multiselectable="true">

              <div class="panel panel-faq" id="question8">
                <div class="panel-heading" role="tab" id="question8-heading">
                  <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#questions2" href="#question8-collapse" aria-expanded="false" aria-controls="question8-collapse">
                      How Do I Make a Deposit/Withdrawal?
                    </a>
                  </h4>
                </div>
                <div id="question8-collapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="question8-heading">
                  <div class="panel-body">
                    <p>
                      You can enter the cashier section of the site by going to the <a href="/my-account">My Account</a> page on the top menu of our homepage. Depositing by PayPal or credit card is an easy process that we have worked to make as simple as possible for both easy deposits and quick, automatic withdrawals.
                    </p>
                    <p>
                      The steps in withdrawing funds are just as easy. Simply enter the cashier section and click the ‘Withdraw Funds’ button! We offer PayPal or check withdrawals for our players to receive any or all of the cash in their account.
                    </p>
                  </div>
                </div>
              </div>

              <div class="panel panel-faq" id="question9">
                <div class="panel-heading" role="tab" id="question9-heading">
                  <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#questions2" href="#question9-collapse" aria-expanded="false" aria-controls="question9-collapse">
                      How Do I Know My Money is Safe?
                    </a>
                  </h4>
                </div>
                <div id="question9-collapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="question9-heading">
                  <div class="panel-body">
                    <p>
                      Knockout Picks uses the most secure transaction channels available, guaranteeing members a safe and secure experience.
                    </p>
                  </div>
                </div>
              </div>

              <div class="panel panel-faq" id="question10">
                <div class="panel-heading" role="tab" id="question10-heading">
                  <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#questions2" href="#question10-collapse" aria-expanded="false" aria-controls="question10-collapse">
                      Trouble Depositing?
                    </a>
                  </h4>
                </div>
                <div id="question10-collapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="question10-heading">
                  <div class="panel-body">
                    <p>
                      The following states do not allow fantasy sports competition for cash: Arizona, Arkansas, Delaware, Iowa, Louisiana, Michigan, Montana, Tennessee, and Washington.
                    </p>
                    <p>
                      Residents of Alabama, Nebraska, and British Columbia must be 19 years of age to play in Daily Fantasy Sports contests. Residents of Prince Edward Island and Quebec can only participate in free games for Knockout Points (not cash).
                    </p>
                    <p>
                      If you fall outside these areas and are still having trouble depositing, or have deposit questions in general please don't hesitate to <a data-toggle="modal" data-target="#support">Contact Us</a>.
                    </p>
                  </div>
                </div>
              </div>

              <div class="panel panel-faq" id="question11">
                <div class="panel-heading" role="tab" id="question11-heading">
                  <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#questions2" href="#question11-collapse" aria-expanded="false" aria-controls="question11-collapse">
                      What are Knockout Points?
                    </a>
                  </h4>
                </div>
                <div id="question11-collapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="question11-heading">
                  <div class="panel-body">
                    <p>
                      Knockout Points can be used to enter certain Knockout Points freerolls, win prizes or buy tickets to various tournaments.
                    </p>
                  </div>
                </div>
              </div>

              <div class="panel panel-faq" id="question12">
                <div class="panel-heading" role="tab" id="question12-heading">
                  <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#questions2" href="#question12-collapse" aria-expanded="false" aria-controls="question12-collapse">
                      What Happens in the Event of a Tied Contest?
                    </a>
                  </h4>
                </div>
                <div id="question12-collapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="question12-heading">
                  <div class="panel-body">
                    <p>
                      Tied contests will result in the tied players splitting their finishing position's prize money. In head to head contests, tied scores will result in a refund of the contest entry. For more information about tie breakers, please <a href="/rules">click here</a>.
                    </p>
                  </div>
                </div>
              </div>

              <div class="panel panel-faq" id="question13">
                <div class="panel-heading" role="tab" id="question13-heading">
                  <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#questions2" href="#question13-collapse" aria-expanded="false" aria-controls="question13-collapse">
                      What Happens if a Game is Cancelled or Rained Out?
                    </a>
                  </h4>
                </div>
                <div id="question13-collapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="question13-heading">
                  <div class="panel-body">
                    <p>
                      If a game is cancelled for any reason including a rain out, the contestant will receive a 0 in the stat column for any players they had in their lineup from that game. Various sites are available to gain updates on both weather and/or a Minnesota roof collapse.
                    </p>
                  </div>
                </div>
              </div>

            </div>

          </div>
        </div>

      </div>

    </main>
    <footer class="top-buffer">
      <div class="container top-buffer">
        <div class="row">
          <div class="col-xs-12 col-md-2 text-center">
            <a class="sprite footer-logo" href="/"></a>
          </div>
          <div class="col-xs-12 col-md-10 footer-links">
            <div class="col-xs-12 col-md-4 text-center">
              <ul class="list-inline">
                <li><a href="/lobby">Lobby</a></li>
                <li><a href="/leagues">Leagues</a></li>
                <li><a href="/lineups">Lineups</a></li>
                <li><a href="/scores">Scores</a></li>
                <li><a href="/leaderboards">Leaderboards</a></li>
              </ul>
            </div>
            <div class="col-xs-12 col-md-4 text-center">
              <ul class="list-inline">
                <li><a href="/how-to-play">How To Play</a></li>
                <li><a href="/rules">Rules</a></li>
                <li><a href="/faq">FAQ</a></li>
                <li><a data-toggle="modal" data-target="#support">Support</a></li>
              </ul>
            </div>
            <div class="col-xs-12 col-md-4 text-center">
              <ul class="list-inline">
                <li><a href="/">MLB</a></li>
                <li><a href="/">NFL</a></li>
                <li><a href="/">NBA</a></li>
                <li><a href="/">NHL</a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="row top-buffer">
          <div class="col-xs-12">
            <ul class="list-inline text-center language">
              <li><a class="sprite usa-flag" data-toggle="modal" data-target="#usaEligibility"></a><a data-toggle="modal" data-target="#usaEligibility">Eligibility</a></li>
              <li><a class="sprite canada-flag" data-toggle="modal" data-target="#canadaEligibility"></a><a data-toggle="modal" data-target="#canadaEligibility">Eligibility</a></li>
            </ul>
          </div>
        </div>

        <div class="row top-buffer" style="opacity: 0.4">
          <div class="col-xs-12">
            <ul class="list-inline text-center">
              <li><a class="sprite stats-logo" href="/"></a></li>
              <li><a class="sprite fsta-logo" href="/"></a></li>
              <li><a class="sprite verisign-logo" href="/"></a></li>
              <li><a class="sprite paypal-logo" href="/"></a></li>
            </ul>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <ul class="list-inline text-center social-media">
              <li><a href="https://www.facebook.com/knockoutcasino" target="_blank"><span class="glyphicon icon-facebook-square"></span></a></li>
              <li><a href="https://twitter.com/knockoutcasino" target="_blank"><span class="glyphicon icon-twitter-square"></span></a></li>
            </ul>
          </div>
          <div class="col-xs-12 text-center copyright">
            Copyright &copy; 2015 Knockout Picks. All Rights Reserved | <a href="#">Terms of Use</a> | <a href="#">Privacy Policy</a> | <a href="#">About Us</a>
          </div>

        </div>
      </div>
    </footer>
    <!-- Register -->
    <div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="registerLabel">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="glyphicon icon-cross-mark" aria-hidden="true"></span></button>
          </div>
          <form>
            <div class="modal-body text-center">
              <h2>Create Your Account</h2>
              <div class="row">
                <div class="col-md-7 text-left">
                  <div class="row">

                    <div class="col-md-12">
                      <label class="col-xs-12 no-padding" for="username">Username:</label>
                      <div class="col-xs-4 no-padding">
                        <div class="form-group">
                          <input type="text" class="form-control" id="username">
                        </div>
                      </div>
                      <div class="col-xs-8">
                        <span class="glyphicon icon-question"></span>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" class="form-control" id="password">
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="confirmPassword">Confirm Password:</label>
                        <input type="password" class="form-control" id="confirmPassword">
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="email">Email Address:</label>
                        <input type="email" class="form-control" id="email">
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="confirmEmail">Confirm Email Address:</label>
                        <input type="email" class="form-control" id="confirmEmail">
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="country">Country:</label>
                        <select class="form-control">
                          <option>United States</option>
                          <option>Japan</option>
                          <option>Germany</option>
                        </select>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="state">State:</label>
                        <select class="form-control">
                          <option>Arizona</option>
                          <option>California</option>
                          <option>Texas</option>
                        </select>
                      </div>
                    </div>

                    <div class="col-md-12">
                      <div class="col-xs-12 no-padding">
                        <label for="dob">Date of Birth:</label>
                      </div>
                      <div class="col-xs-4 no-padding">
                        <div class="form-group">
                          <select class="form-control">
                            <option>Month</option>
                            <option>January</option>
                            <option>February</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-xs-4">
                        <div class="form-group">
                          <select class="form-control">
                            <option>Day</option>
                            <option>January</option>
                            <option>February</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-xs-4 no-padding">
                        <div class="form-group">
                          <select class="form-control">
                            <option>Year</option>
                            <option>January</option>
                            <option>February</option>
                          </select>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="passwordQuestion">Password Question:</label>
                        <select class="form-control">
                          <option>Choose Question</option>
                          <option>January</option>
                          <option>February</option>
                        </select>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="passwordAnswer">Password Answer:</label>
                        <input type="text" class="form-control" id="passwordAnswer">
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="promoCode">Promo Code:</label>
                        <input type="text" class="form-control" id="promoCode">
                      </div>
                    </div>

                    <div class="col-md-6">
                      <label class="checkbox-inline">
                        <input type="checkbox" id="terms" value="terms"> <strong>I agree to the <a href="#">Terms of Use.</a></strong>
                      </label>
                      <br>
                      <label class="checkbox-inline">
                        <input type="checkbox" id="specialOffers" value="specialOffers"> <strong>Send me special offers and bonuses!</strong>
                      </label>
                    </div>

                  </div>
                </div>

                <div class="col-md-5 visible-md visible-lg">
                  <h3><strong>Why Knockout Picks?</strong></h3>
                  <p class="text-center">
                    We cater to your fantasy sports experience, with first-class customer service.
                  </p>
                  <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="http://www.youtube.com/embed/xPubMOh_Tw8"></iframe>
                  </div>
                </div>

              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-lg btn-primary">Continue</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Login -->
    <div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="loginLabel">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="glyphicon icon-cross-mark" aria-hidden="true"></span></button>
          </div>
          <form>
            <div class="modal-body">
              <h2 class="text-center">Player Login</h2>
                <div class="form-group">
                  <label for="username">Username:</label>
                  <input type="text" class="form-control" id="username">
                </div>

                <div class="form-group">
                  <label for="password">Password:</label>
                  <input type="password" class="form-control" id="password">
                </div>

                <label class="checkbox-inline">
                  <input type="checkbox" id="remember" value="remember"> Remember me
                </label>
                <br>
                <a data-dismiss="modal" data-toggle="modal" href="#forgotPassword">Forgot your Password?</a><br>
                <a data-dismiss="modal" data-toggle="modal" href="#forgotUsername">Forgot your Username?</a>

            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-block btn-lg btn-primary">Login</button>
              <br>
              <div class="text-center">
                Don't have an account? <a data-dismiss="modal" data-toggle="modal" href="#register">Click Here</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Forgot Password -->
    <div class="modal fade" id="forgotPassword" tabindex="-1" role="dialog" aria-labelledby="forgotPasswordLabel">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="glyphicon icon-cross-mark" aria-hidden="true"></span></button>
          </div>
          <form>
            <div class="modal-body">
              <h2 class="text-center">Recover Password?</h2>
              <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" class="form-control" id="username">
              </div>
              <img class="img-responsive" src="/images/captcha.gif">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-block btn-lg btn-primary">Send Password</button>
              <br>
              <div class="text-center sma">
                <small>*Your password will be sent to your email address.</small>
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>

    <!-- Forgot Username -->
    <div class="modal fade" id="forgotUsername" tabindex="-1" role="dialog" aria-labelledby="forgotUsernameLabel">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="glyphicon icon-cross-mark" aria-hidden="true"></span></button>
          </div>
          <form>
            <div class="modal-body">
              <h2 class="text-center">Recover Username?</h2>
              <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" class="form-control" id="username">
              </div>
              <img class="img-responsive" src="/images/captcha.gif">
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-block btn-lg btn-primary">Send Username</button>
              <br>
              <div class="text-center sma">
                <small>*Your username will be sent to your email address.</small>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Support -->
    <div class="modal fade" id="support" tabindex="-1" role="dialog" aria-labelledby="supportLabel">
      <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="glyphicon icon-cross-mark" aria-hidden="true"></span></button>
          </div>
          <form>
            <div class="modal-body">
              <h2 class="text-center bottom-buffer">Support</h2>

              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" class="form-control" id="name">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" class="form-control" id="username">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="email">Email Address:</label>
                    <input type="email" class="form-control" id="email">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="subject">Subject:</label>
                      <select class="form-control">
                        <option>Choose</option>
                        <option>General</option>
                        <option>Lineups</option>
                        <option>Scoring</option>
                      </select>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="message">Message:</label>
                <textarea class="form-control" rows="3"></textarea>
              </div>
              <button type="button" class="btn btn-lg btn-primary">Submit</button>

            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- USA Eligibility Modal -->
    <div class="modal fade" id="usaEligibility" tabindex="-1" role="dialog" aria-labelledby="usaEligibilityLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="glyphicon icon-cross-mark" aria-hidden="true"></span></button>
          </div>
          <div class="modal-body text-center">

            <span class="sprite usa-flag"></span>
            <h2>USA ELIGIBILITY</h2>
            <p class="top-buffer">
              The following states do not allow fantasy sports competition for cash: Arizona, Arkansas, Delaware, Iowa, Louisiana, Michigan, Montana, Tennessee, and Washington. Residents of Alabama and Nebraska must be 19 years of age to play in cash Daily Fantasy Sports contests.
            </p>
            <p>
              If you fall outside these states and are still having trouble depositing, or have deposit questions in general please do not hesitate to <a href="#">contact us.</a>
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- CANADA Eligibility Modal -->
    <div class="modal fade" id="canadaEligibility" tabindex="-1" role="dialog" aria-labelledby="canadaEligibilityLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="glyphicon icon-cross-mark" aria-hidden="true"></span></button>
          </div>
          <div class="modal-body text-center">

            <span class="sprite canada-flag"></span>
            <h2>CANADA ELIGIBILITY</h2>
            <p class="top-buffer">
              The following provinces do not allow fantasy sports competition for cash: Prince Edward Island and Quebec are not eligible to participate. Residents of British Columbia must be 19 years of age to play in cash Daily Fantasy Sports contests.
            </p>
            <p>
              If you fall outside these provinces and are still having trouble depositing, or have deposit questions in general please do not hesitate to <a href="#">contact us.</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <script>
      $(document).ready(function() {
        $('.rules1').on('shown hidden', function () {
            $('body').scrollspy('refresh');
        });
      });
    </script>
  </body>
</html>
