<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/bjqs-1.3.min.js"></script>
    <script src="/js/jquery.countdown.js"></script>
  </head>
  <body>
    <div class="header-background header-content">
      <!-- Mobile Navigation -->
      <nav class="navbar navbar-static-top hidden-md hidden-lg">
        <div class="navbar-header">
          <div class="container">
            <button type="button" class="navbar-icons left" data-toggle="collapse" data-target="#menuGeneral">
              <span class="glyphicon icon-align-justify"></span>
            </button>

            <a class="sprite navbar-brand" href="/"></a>

            <button type="button" class="navbar-icons right" data-toggle="collapse" data-target="#menuAccount">
              <span class="glyphicon icon-user"></span>
            </button>
          </div>
        </div>
      </nav>
      <div class="collapse hidden-md hidden-lg" id="menuGeneral">
        <div class="row">
          <div class="col-sm-6">
            <ul class="nav nav-pills nav-stacked">
              <li><a href="/">Lobby</a></li>
              <li><a href="/leagues">Leagues</a></li>
              <li><a href="/lineups">Lineups</a></li>
              <li><a href="/scores">Scores</a></li>
              <li><a href="/leaderboards">Leaderboards</a></li>
            </ul>
          </div>
          <div class="col-sm-6">
            <ul class="nav nav-pills nav-stacked">
              <li><a href="/how-to-play">How to Play</a></li>
              <li><a href="/rules">Rules</a></li>
              <li><a href="/faq">FAQ</a></li>
              <li><a data-toggle="modal" data-target="#support">Support</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="collapse hidden-md hidden-lg" id="menuAccount">
        <div class="row">
          <div class="col-xs-12">
            <ul class="nav nav-pills nav-stacked">
              <li class="bal-points">
                <strong>Balance:</strong> &dollar;500.00 <br>
                <strong>Points:</strong> 700
                <a href="/my-account" class="btn btn-default top-buffer">Add Funds</a>
              </li>
              <li><a href="/my-account">My Account</a></li>
              <li><a href="/promotions">Promotions</a></li>
              <li><a href="/logout">Logout</a></li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Desktop -->
      <nav class="navbar navbar-default main-menu visible-md visible-lg" role="navigation">
        <div class="container">
          <!-- Top Menus -->
          <div class="top-menu">
            <div class="user-menu">
              <ul class="list-inline">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <img class="avatar img-circle" src="/images/default-avatar.png"> KnockoutDan <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li class="bal-points">
                      <strong>Balance:</strong> &dollar;500.00 <br>
                      <strong>Points:</strong> 700
                    </li>
                    <li><a href="/my-account">My Account</a></li>
                    <li><a href="/promotions">Promotions</a></li>
                    <li><a href="/logout">Logout</a></li>
                  </ul>
                </li>
              </ul>
            </div>
            <div class="user-add-funds text-center">
              <div class="col-xs-6 no-padding">
                <a href="/my-account" class="btn btn-finance">Add Funds</a>
              </div>
            </div>
          </div>
          <!-- Main Menu -->
          <div class="row">
            <div class="col-md-5">
              <ul class="nav navbar-nav">
                <li class="active"><a href="/">Lobby</a></li>
                <li><a href="/leagues">Leagues</a></li>
                <li><a href="/lineups">Lineups</a></li>
                <li><a href="/scores">Scores</a></li>
                <li><a href="/leaderboards">Leaderboards</a></li>
              </ul>
            </div>
            <div class="col-md-2 no-padding">
              <a class="header-logo" href="/"><img class="img-responsive" src="/images/logo-large.png"></a>
            </div>
            <div class="col-md-5">
              <ul class="nav navbar-nav">
                <li><a href="/how-to-play">How to Play</a></li>
                <li><a href="/rules">Rules</a></li>
                <li><a href="/faq">FAQ</a></li>
                <li><a data-toggle="modal" data-target="#support">Support</a></li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
      <div class="container container-header">
        <div class="mascot hidden-xs">
          <img src="/images/home-mascot.png">
        </div>
        <h1>Play Daily Fantasy Sports</h1>
        <div id="season-counter" class="hidden-xs">
          <ul class="bjqs">
            <li>
              <h2>NFL Season Opener</h2>
              <div id="nfl-counter">
                 <div class="sprite counter" data-countdown="2018/01/01"></div>
              </div>
            </li>
            <li>
              <h2>MLB Season Opener</h2>
              <div id="mlb-counter">
                <div class="sprite counter" data-countdown="2019/05/02"></div>
              </div>
            </li>
          </ul>
        </div>
        <div class="header-content-btn">
          <a class="btn btn-xl btn-primary" data-toggle="modal" data-target="#login">Play Now</a>
        </div>
      </div>
    </div>

    <main class="container container-header-content">

      <!-- Steps -->
      <div class="row">
        <div class="col-sm-4 col-md-4 text-center bottom-buffer">
          <div class="steps-icon">
            <span class="glyphicon icon-football"></span>
          </div>
          <div class="steps">
            <span class="steps-number">1</span>
            <h3>Draft Your Team</h3>
            <img src="/images/steps-hr.png">
            <p>
              Build your team within the salary cap
            </p>
          </div>
        </div>
        <div class="col-sm-4 col-md-4 text-center bottom-buffer">
          <div class="steps-icon">
            <span class="glyphicon icon-bars"></span>
          </div>
          <div class="steps">
            <span class="steps-number">2</span>
            <h3>Track Your Score</h3>
            <img src="/images/steps-hr.png">
            <p>
              Watch the live scoreboard for real-time scoring
            </p>
          </div>
        </div>
        <div class="col-sm-4 col-md-4 text-center bottom-buffer">
          <div class="steps-icon">
            <span class="glyphicon icon-money-banknote"></span>
          </div>
          <div class="steps">
            <span class="steps-number">3</span>
            <h3>Win Real Ca&dollar;h</h3>
            <img src="/images/steps-hr.png">
            <p>
              Cash prizes are awarded every night after the games finish
            </p>
          </div>
        </div>
      </div>

      <!-- Why us -->
      <div class="row top-buffer bottom-buffer">
        <div class="why-us">
          <div class="col-md-6 top-buffer">
            <h3>What is Knockout Picks?</h3>
            <p class="top-buffer">
              Knockout Picks is a daily fantasy sports, weekly fantasy sports, and season long fantasy sports provider. Knockout Picks Games are games of skill offered legally in the USA and Canada.
            </p>
            <p class="top-buffer">
              Compete for cash and prizes by depositing real money, or play in the free contests daily where you can win real cash. Terms and conditions apply, please visit the Knockout Picks webpage for details.
            </p>
          </div>
          <div class="col-md-6">
            <p class="text-center">
              We cater to your fantasy sports experience, with first-class customer service.
            </p>
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="http://www.youtube.com/embed/xPubMOh_Tw8"></iframe>
            </div>
          </div>
        </div>
      </div>

      <!-- Features -->
      <div class="row features">
        <div class="col-xs-6 col-md-3 text-center top-buffer">
          <span class="glyphicon icon-money-banknote"></span>
          <p>
            Play Free or Paid Contests <br>and Win Real Money
          </p>
        </div>
        <div class="col-xs-6 col-md-3 text-center top-buffer">
          <span class="glyphicon icon-trophy"></span>
          <p>
            Daily, Weekly and <br>Season-long Contests
          </p>
        </div>
        <div class="col-xs-6 col-md-3 text-center top-buffer">
          <span class="glyphicon icon-group"></span>
          <p>
            Lightning Fast Payouts<br> and Support
          </p>
        </div>
        <div class="col-xs-6 col-md-3 text-center top-buffer">
          <span class="glyphicon icon-like-filled"></span>
          <p>
            100% Legal, <br>100% Awesome!
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 text-center top-buffer bottom-buffer">
          <a class="btn btn-xl btn-primary" data-toggle="modal" data-target="#register">Create Your Account</a>
        </div>
      </div>

    </main>
    <footer class="top-buffer">
      <div class="container top-buffer">
        <div class="row">
          <div class="col-xs-12 col-md-2 text-center">
            <a class="sprite footer-logo" href="/"></a>
          </div>
          <div class="col-xs-12 col-md-10 footer-links">
            <div class="col-xs-12 col-md-4 text-center">
              <ul class="list-inline">
                <li><a href="/lobby">Lobby</a></li>
                <li><a href="/leagues">Leagues</a></li>
                <li><a href="/lineups">Lineups</a></li>
                <li><a href="/scores">Scores</a></li>
                <li><a href="/leaderboards">Leaderboards</a></li>
              </ul>
            </div>
            <div class="col-xs-12 col-md-4 text-center">
              <ul class="list-inline">
                <li><a href="/how-to-play">How To Play</a></li>
                <li><a href="/rules">Rules</a></li>
                <li><a href="/faq">FAQ</a></li>
                <li><a data-toggle="modal" data-target="#support">Support</a></li>
              </ul>
            </div>
            <div class="col-xs-12 col-md-4 text-center">
              <ul class="list-inline">
                <li><a href="/">MLB</a></li>
                <li><a href="/">NFL</a></li>
                <li><a href="/">NBA</a></li>
                <li><a href="/">NHL</a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="row top-buffer">
          <div class="col-xs-12">
            <ul class="list-inline text-center language">
              <li><a class="sprite usa-flag" data-toggle="modal" data-target="#usaEligibility"></a><a data-toggle="modal" data-target="#usaEligibility">Eligibility</a></li>
              <li><a class="sprite canada-flag" data-toggle="modal" data-target="#canadaEligibility"></a><a data-toggle="modal" data-target="#canadaEligibility">Eligibility</a></li>
            </ul>
          </div>
        </div>

        <div class="row top-buffer" style="opacity: 0.4">
          <div class="col-xs-12">
            <ul class="list-inline text-center">
              <li><a class="sprite stats-logo" href="/"></a></li>
              <li><a class="sprite fsta-logo" href="/"></a></li>
              <li><a class="sprite verisign-logo" href="/"></a></li>
              <li><a class="sprite paypal-logo" href="/"></a></li>
            </ul>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <ul class="list-inline text-center social-media">
              <li><a href="https://www.facebook.com/knockoutcasino" target="_blank"><span class="glyphicon icon-facebook-square"></span></a></li>
              <li><a href="https://twitter.com/knockoutcasino" target="_blank"><span class="glyphicon icon-twitter-square"></span></a></li>
            </ul>
          </div>
          <div class="col-xs-12 text-center copyright">
            Copyright &copy; 2015 Knockout Picks. All Rights Reserved | <a href="#">Terms of Use</a> | <a href="#">Privacy Policy</a> | <a href="#">About Us</a>
          </div>

        </div>
      </div>
    </footer>
    <!-- Register -->
    <div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="registerLabel">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="glyphicon icon-cross-mark" aria-hidden="true"></span></button>
          </div>
          <form>
            <div class="modal-body text-center">
              <h2>Create Your Account</h2>
              <div class="row">
                <div class="col-md-7 text-left">
                  <div class="row">

                    <div class="col-md-12">
                      <label class="col-xs-12 no-padding" for="username">Username:</label>
                      <div class="col-xs-4 no-padding">
                        <div class="form-group">
                          <input type="text" class="form-control" id="username">
                        </div>
                      </div>
                      <div class="col-xs-8">
                        <span class="glyphicon icon-question"></span>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" class="form-control" id="password">
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="confirmPassword">Confirm Password:</label>
                        <input type="password" class="form-control" id="confirmPassword">
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="email">Email Address:</label>
                        <input type="email" class="form-control" id="email">
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="confirmEmail">Confirm Email Address:</label>
                        <input type="email" class="form-control" id="confirmEmail">
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="country">Country:</label>
                        <select class="form-control">
                          <option>United States</option>
                          <option>Japan</option>
                          <option>Germany</option>
                        </select>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="state">State:</label>
                        <select class="form-control">
                          <option>Arizona</option>
                          <option>California</option>
                          <option>Texas</option>
                        </select>
                      </div>
                    </div>

                    <div class="col-md-12">
                      <div class="col-xs-12 no-padding">
                        <label for="dob">Date of Birth:</label>
                      </div>
                      <div class="col-xs-4 no-padding">
                        <div class="form-group">
                          <select class="form-control">
                            <option>Month</option>
                            <option>January</option>
                            <option>February</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-xs-4">
                        <div class="form-group">
                          <select class="form-control">
                            <option>Day</option>
                            <option>January</option>
                            <option>February</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-xs-4 no-padding">
                        <div class="form-group">
                          <select class="form-control">
                            <option>Year</option>
                            <option>January</option>
                            <option>February</option>
                          </select>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="passwordQuestion">Password Question:</label>
                        <select class="form-control">
                          <option>Choose Question</option>
                          <option>January</option>
                          <option>February</option>
                        </select>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="passwordAnswer">Password Answer:</label>
                        <input type="text" class="form-control" id="passwordAnswer">
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="promoCode">Promo Code:</label>
                        <input type="text" class="form-control" id="promoCode">
                      </div>
                    </div>

                    <div class="col-md-6">
                      <label class="checkbox-inline">
                        <input type="checkbox" id="terms" value="terms"> <strong>I agree to the <a href="#">Terms of Use.</a></strong>
                      </label>
                      <br>
                      <label class="checkbox-inline">
                        <input type="checkbox" id="specialOffers" value="specialOffers"> <strong>Send me special offers and bonuses!</strong>
                      </label>
                    </div>

                  </div>
                </div>

                <div class="col-md-5 visible-md visible-lg">
                  <h3><strong>Why Knockout Picks?</strong></h3>
                  <p class="text-center">
                    We cater to your fantasy sports experience, with first-class customer service.
                  </p>
                  <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="http://www.youtube.com/embed/xPubMOh_Tw8"></iframe>
                  </div>
                </div>

              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-lg btn-primary">Continue</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Login -->
    <div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="loginLabel">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="glyphicon icon-cross-mark" aria-hidden="true"></span></button>
          </div>
          <form>
            <div class="modal-body">
              <h2 class="text-center">Player Login</h2>
                <div class="form-group">
                  <label for="username">Username:</label>
                  <input type="text" class="form-control" id="username">
                </div>

                <div class="form-group">
                  <label for="password">Password:</label>
                  <input type="password" class="form-control" id="password">
                </div>

                <label class="checkbox-inline">
                  <input type="checkbox" id="remember" value="remember"> Remember me
                </label>
                <br>
                <a data-dismiss="modal" data-toggle="modal" href="#forgotPassword">Forgot your Password?</a><br>
                <a data-dismiss="modal" data-toggle="modal" href="#forgotUsername">Forgot your Username?</a>

            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-block btn-lg btn-primary">Login</button>
              <br>
              <div class="text-center">
                Don't have an account? <a data-dismiss="modal" data-toggle="modal" href="#register">Click Here</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Forgot Password -->
    <div class="modal fade" id="forgotPassword" tabindex="-1" role="dialog" aria-labelledby="forgotPasswordLabel">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="glyphicon icon-cross-mark" aria-hidden="true"></span></button>
          </div>
          <form>
            <div class="modal-body">
              <h2 class="text-center">Recover Password?</h2>
              <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" class="form-control" id="username">
              </div>
              <img class="img-responsive" src="/images/captcha.gif">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-block btn-lg btn-primary">Send Password</button>
              <br>
              <div class="text-center sma">
                <small>*Your password will be sent to your email address.</small>
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>

    <!-- Forgot Username -->
    <div class="modal fade" id="forgotUsername" tabindex="-1" role="dialog" aria-labelledby="forgotUsernameLabel">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="glyphicon icon-cross-mark" aria-hidden="true"></span></button>
          </div>
          <form>
            <div class="modal-body">
              <h2 class="text-center">Recover Username?</h2>
              <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" class="form-control" id="username">
              </div>
              <img class="img-responsive" src="/images/captcha.gif">
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-block btn-lg btn-primary">Send Username</button>
              <br>
              <div class="text-center sma">
                <small>*Your username will be sent to your email address.</small>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Support -->
    <div class="modal fade" id="support" tabindex="-1" role="dialog" aria-labelledby="supportLabel">
      <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="glyphicon icon-cross-mark" aria-hidden="true"></span></button>
          </div>
          <form>
            <div class="modal-body">
              <h2 class="text-center bottom-buffer">Support</h2>

              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" class="form-control" id="name">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" class="form-control" id="username">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="email">Email Address:</label>
                    <input type="email" class="form-control" id="email">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="subject">Subject:</label>
                      <select class="form-control">
                        <option>Choose</option>
                        <option>General</option>
                        <option>Lineups</option>
                        <option>Scoring</option>
                      </select>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="message">Message:</label>
                <textarea class="form-control" rows="3"></textarea>
              </div>
              <button type="button" class="btn btn-lg btn-primary">Submit</button>

            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- USA Eligibility Modal -->
    <div class="modal fade" id="usaEligibility" tabindex="-1" role="dialog" aria-labelledby="usaEligibilityLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="glyphicon icon-cross-mark" aria-hidden="true"></span></button>
          </div>
          <div class="modal-body text-center">

            <span class="sprite usa-flag"></span>
            <h2>USA ELIGIBILITY</h2>
            <p class="top-buffer">
              The following states do not allow fantasy sports competition for cash: Arizona, Arkansas, Delaware, Iowa, Louisiana, Michigan, Montana, Tennessee, and Washington. Residents of Alabama and Nebraska must be 19 years of age to play in cash Daily Fantasy Sports contests.
            </p>
            <p>
              If you fall outside these states and are still having trouble depositing, or have deposit questions in general please do not hesitate to <a href="#">contact us.</a>
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- CANADA Eligibility Modal -->
    <div class="modal fade" id="canadaEligibility" tabindex="-1" role="dialog" aria-labelledby="canadaEligibilityLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="glyphicon icon-cross-mark" aria-hidden="true"></span></button>
          </div>
          <div class="modal-body text-center">

            <span class="sprite canada-flag"></span>
            <h2>CANADA ELIGIBILITY</h2>
            <p class="top-buffer">
              The following provinces do not allow fantasy sports competition for cash: Prince Edward Island and Quebec are not eligible to participate. Residents of British Columbia must be 19 years of age to play in cash Daily Fantasy Sports contests.
            </p>
            <p>
              If you fall outside these provinces and are still having trouble depositing, or have deposit questions in general please do not hesitate to <a href="#">contact us.</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <script>
      $(document).ready(function() {
        $('[data-countdown]').each(function() {
          var $this = $(this), finalDate = $(this).data('countdown');
          $this.countdown(finalDate, function(event) {
            $this.html(event.strftime(''
            + '<span class="days">%D days</span>'
            + '%H:%M:%S'));
          });
        });

        $('#season-counter').bjqs({
          'height' : 210,
          'width' : 460,
          animtype : 'slide',
          animspeed : 8000,
          nexttext : '<span class="glyphicon icon-angle-right"></span>',
          prevtext : '<span class="glyphicon icon-angle-left"></span>',
          showmarkers : false,
          'responsive' : false
        });

        $('#lobby-banner-slider').bjqs({
          'height' : 250,
          'width' : 640,
          animtype : 'slide',
          animduration : 450,
          animspeed : 5000,
          nexttext : '<span class="glyphicon icon-angle-right"></span>',
          prevtext : '<span class="glyphicon icon-angle-left"></span>',
          showmarkers : true,
          hoverpause : true,
          'responsive' : false
        });
      });
    </script>
  </body>
</html>
