<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/bjqs-1.3.min.js"></script>
    <script src="/js/jquery.countdown.js"></script>
  </head>
  <body class="home">
    <div class="header-background">
      <!-- Mobile Navigation -->
      <nav class="navbar navbar-static-top hidden-md hidden-lg">
        <div class="navbar-header">
          <div class="container">
            <button type="button" class="navbar-icons left" data-toggle="collapse" data-target="#menuGeneral">
              <span class="glyphicon icon-align-justify"></span>
            </button>

            <a class="sprite navbar-brand" href="/"></a>

            <button type="button" class="navbar-icons right" data-toggle="collapse" data-target="#menuAccount">
              <span class="glyphicon icon-user"></span>
            </button>
          </div>
        </div>
      </nav>
      <div class="collapse hidden-md hidden-lg" id="menuGeneral">
        <div class="row">
          <div class="col-sm-6">
            <ul class="nav nav-pills nav-stacked">
              <li><a href="/">Lobby</a></li>
              <li><a href="/leagues">Leagues</a></li>
              <li><a href="/lineups">Lineups</a></li>
              <li><a href="/scores">Scores</a></li>
              <li><a href="/leaderboards">Leaderboards</a></li>
            </ul>
          </div>
          <div class="col-sm-6">
            <ul class="nav nav-pills nav-stacked">
              <li><a href="/how-to-play">How to Play</a></li>
              <li><a href="/rules">Rules</a></li>
              <li><a href="/faq">FAQ</a></li>
              <li><a data-toggle="modal" data-target="#support">Support</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="collapse hidden-md hidden-lg" id="menuAccount">
        <div class="row">
          <div class="col-xs-12">
            <ul class="nav nav-pills nav-stacked">
              <li class="bal-points">
                <strong>Balance:</strong> &dollar;500.00 <br>
                <strong>Points:</strong> 700
                <a href="/my-account" class="btn btn-default top-buffer">Add Funds</a>
              </li>
              <li><a href="/my-account">My Account</a></li>
              <li><a href="/promotions">Promotions</a></li>
              <li><a href="/logout">Logout</a></li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Desktop -->
      <nav class="navbar navbar-default main-menu visible-md visible-lg" role="navigation">
        <div class="container">
          <!-- Top Menus -->
          <div class="top-menu">
            <div class="user-menu">
              <ul class="list-inline">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <img class="avatar img-circle" src="/images/default-avatar.png"> KnockoutDan <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li class="bal-points">
                      <strong>Balance:</strong> &dollar;500.00 <br>
                      <strong>Points:</strong> 700
                    </li>
                    <li><a href="/my-account">My Account</a></li>
                    <li><a href="/promotions">Promotions</a></li>
                    <li><a href="/logout">Logout</a></li>
                  </ul>
                </li>
              </ul>
            </div>
            <div class="user-add-funds text-center">
              <div class="col-xs-6 no-padding">
                <a href="/my-account" class="btn btn-finance">Add Funds</a>
              </div>
            </div>
          </div>
          <!-- Main Menu -->
          <div class="row">
            <div class="col-md-5">
              <ul class="nav navbar-nav">
                <li class="active"><a href="/">Lobby</a></li>
                <li><a href="/leagues">Leagues</a></li>
                <li><a href="/lineups">Lineups</a></li>
                <li><a href="/scores">Scores</a></li>
                <li><a href="/leaderboards">Leaderboards</a></li>
              </ul>
            </div>
            <div class="col-md-2 no-padding">
              <a class="header-logo" href="/"><img class="img-responsive" src="/images/logo-large.png"></a>
            </div>
            <div class="col-md-5">
              <ul class="nav navbar-nav">
                <li><a href="/how-to-play">How to Play</a></li>
                <li><a href="/rules">Rules</a></li>
                <li><a href="/faq">FAQ</a></li>
                <li><a data-toggle="modal" data-target="#support">Support</a></li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </div>

    <main class="container container-body">

      <div class="content content-header">
        <h2 class="text-center">Sports Scoring Modals</h2>
      </div>

      <div class="content">
  
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <button type="button" class="btn btn-lg btn-default btn-block bottom-buffer" data-toggle="modal" data-target="#nfl">NFL</button>
            
            <button type="button" class="btn btn-lg btn-default btn-block bottom-buffer" data-toggle="modal" data-target="#mlb">MLB</button>
            
            <button type="button" class="btn btn-lg btn-default btn-block bottom-buffer" data-toggle="modal" data-target="#nba">NBA</button>

            <button type="button" class="btn btn-lg btn-default btn-block bottom-buffer" data-toggle="modal" data-target="#nhl">NHL</button>
            
          </div>

        </div>
        
      </div>

    </main>
    <footer class="top-buffer">
      <div class="container top-buffer">
        <div class="row">
          <div class="col-xs-12 col-md-2 text-center">
            <a class="sprite footer-logo" href="/"></a>
          </div>
          <div class="col-xs-12 col-md-10 footer-links">
            <div class="col-xs-12 col-md-4 text-center">
              <ul class="list-inline">
                <li><a href="/lobby">Lobby</a></li>
                <li><a href="/leagues">Leagues</a></li>
                <li><a href="/lineups">Lineups</a></li>
                <li><a href="/scores">Scores</a></li>
                <li><a href="/leaderboards">Leaderboards</a></li>
              </ul>
            </div>
            <div class="col-xs-12 col-md-4 text-center">
              <ul class="list-inline">
                <li><a href="/how-to-play">How To Play</a></li>
                <li><a href="/rules">Rules</a></li>
                <li><a href="/faq">FAQ</a></li>
                <li><a data-toggle="modal" data-target="#support">Support</a></li>
              </ul>
            </div>
            <div class="col-xs-12 col-md-4 text-center">
              <ul class="list-inline">
                <li><a href="/">MLB</a></li>
                <li><a href="/">NFL</a></li>
                <li><a href="/">NBA</a></li>
                <li><a href="/">NHL</a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="row top-buffer">
          <div class="col-xs-12">
            <ul class="list-inline text-center language">
              <li><a class="sprite usa-flag" data-toggle="modal" data-target="#usaEligibility"></a><a data-toggle="modal" data-target="#usaEligibility">Eligibility</a></li>
              <li><a class="sprite canada-flag" data-toggle="modal" data-target="#canadaEligibility"></a><a data-toggle="modal" data-target="#canadaEligibility">Eligibility</a></li>
            </ul>
          </div>
        </div>

        <div class="row top-buffer" style="opacity: 0.4">
          <div class="col-xs-12">
            <ul class="list-inline text-center">
              <li><a class="sprite stats-logo" href="/"></a></li>
              <li><a class="sprite fsta-logo" href="/"></a></li>
              <li><a class="sprite verisign-logo" href="/"></a></li>
              <li><a class="sprite paypal-logo" href="/"></a></li>
            </ul>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <ul class="list-inline text-center social-media">
              <li><a href="https://www.facebook.com/knockoutcasino" target="_blank"><span class="glyphicon icon-facebook-square"></span></a></li>
              <li><a href="https://twitter.com/knockoutcasino" target="_blank"><span class="glyphicon icon-twitter-square"></span></a></li>
            </ul>
          </div>
          <div class="col-xs-12 text-center copyright">
            Copyright &copy; 2015 Knockout Picks. All Rights Reserved | <a href="#">Terms of Use</a> | <a href="#">Privacy Policy</a> | <a href="#">About Us</a>
          </div>

        </div>
      </div>
    </footer>
    
    <!-- NFL -->
    <div class="modal fade" id="nfl" tabindex="-1" role="dialog" aria-labelledby="nflLabel">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content scoring nfl-header">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="glyphicon icon-cross-mark" aria-hidden="true"></span></button>
          </div>
          <form>
            <div class="modal-body text-center">
              <h2>NFL Scoring</h2>
              
              <div class="row">
                <div class="col-md-6 top-buffer">
                  
                  <h3>Offense</h3>
                  <table class="table table-leagues table-hover table-striped">
                    <thead>
                      <th class="borderless text-center">
                        Statistic
                      </th>
                      <th class="borderless text-center">
                        Abrv
                      </th>
                      <th class="borderless text-center">
                        Pts.
                      </th>
                    </thead>
                    <tbody>
                      
                      <tr>
                        <td>
                          Passing Touchdowns
                        </td>
                        <td>
                          PATD
                        </td>
                        <td>
                          <span class="text-primary">4.00</span>
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                          Interceptions
                        </td>
                        <td>
                          INT
                        </td>
                        <td>
                          <span class="text-danger">-1.00</span>
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                          Passing Yards
                        </td>
                        <td>
                          PAYD
                        </td>
                        <td>
                          <span class="text-primary">0.04</span>
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                          Rushing Yards
                        </td>
                        <td>
                          RUYD
                        </td>
                        <td>
                          <span class="text-primary">0.10</span>
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                          Rushing Touchdowns
                        </td>
                        <td>
                          RUTD
                        </td>
                        <td>
                          <span class="text-primary">6.00</span>
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                          Reception Yards
                        </td>
                        <td>
                          RECYD
                        </td>
                        <td>
                          <span class="text-primary">0.10</span>
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                          Reception Touchdowns
                        </td>
                        <td>
                          RECTD
                        </td>
                        <td>
                          <span class="text-primary">6.00</span>
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                          Receptions
                        </td>
                        <td>
                          REC
                        </td>
                        <td>
                          <span class="text-primary">1.00</span>
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                          Return Touchdowns
                        </td>
                        <td>
                          RTD
                        </td>
                        <td>
                          <span class="text-primary">6.00</span>
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                          2-Point Conversions
                        </td>
                        <td>
                          2PT
                        </td>
                        <td>
                          <span class="text-primary">2.00</span>
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                          Fumbles Lost
                        </td>
                        <td>
                          FL
                        </td>
                        <td>
                          <span class="text-danger">-1.00</span>
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                          Field Goals 0-39 Yards
                        </td>
                        <td>
                          FG
                        </td>
                        <td>
                          <span class="text-primary">3.00</span>
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                          Field Goals 40-49 Yards
                        </td>
                        <td>
                          FG
                        </td>
                        <td>
                          <span class="text-primary">4.00</span>
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                          Field Goals 50+
                        </td>
                        <td>
                          FG
                        </td>
                        <td>
                          <span class="text-primary">5.00</span>
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                          Point After Attempt Made
                        </td>
                        <td>
                          XPM
                        </td>
                        <td>
                          <span class="text-primary">1.00</span>
                        </td>
                      </tr>
                      
                    </tbody>
                  </table>
                </div>
                <div class="col-md-6 top-buffer">
                  
                  <h3>Defense</h3>
                  <table class="table table-leagues table-hover table-striped">
                    <thead>
                      <th class="borderless text-center">
                        Statistic
                      </th>
                      <th class="borderless text-center">
                        Abrv
                      </th>
                      <th class="borderless text-center">
                        Pts.
                      </th>
                    </thead>
                    <tbody>
                      
                      <tr>
                        <td>
                          Touchdown
                        </td>
                        <td>
                          DTD
                        </td>
                        <td>
                          <span class="text-primary">6.00</span>
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                          Return Touchdowns
                        </td>
                        <td>
                          RTD
                        </td>
                        <td>
                          <span class="text-primary">6.00</span>
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                          Interception
                        </td>
                        <td>
                          DINT
                        </td>
                        <td>
                          <span class="text-primary">1.00</span>
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                          Sack
                        </td>
                        <td>
                          SACK
                        </td>
                        <td>
                          <span class="text-primary">0.50</span>
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                          Safety
                        </td>
                        <td>
                          SFTY
                        </td>
                        <td>
                          <span class="text-primary">2.00</span>
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                          Fumble Recovery
                        </td>
                        <td>
                          FR
                        </td>
                        <td>
                          <span class="text-primary">1.00</span>
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                          Blocked Kick
                        </td>
                        <td>
                          BK
                        </td>
                        <td>
                          <span class="text-primary">2.00</span>
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                          Points Allowed 0-2 pts
                        </td>
                        <td>
                          DPA
                        </td>
                        <td>
                          <span class="text-primary">10.00</span>
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                          Points Allowed 3-6 pts
                        </td>
                        <td>
                          DPA
                        </td>
                        <td>
                          <span class="text-primary">7.00</span>
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                          Points Allowed 7-10 pts
                        </td>
                        <td>
                          DPA
                        </td>
                        <td>
                          <span class="text-primary">4.00</span>
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                          Points Allowed 11-15 pts
                        </td>
                        <td>
                          DPA
                        </td>
                        <td>
                          <span class="text-primary">2.00</span>
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                          Points Allowed 16-25 pts
                        </td>
                        <td>
                          DPA
                        </td>
                        <td>
                          <span class="text-mute">0.00</span>
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                          Points Allowed 25+ pts
                        </td>
                        <td>
                          DPA
                        </td>
                        <td>
                          <span class="text-danger">-3.00</span>
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                          DeF 2-Point Conversion
                        </td>
                        <td>
                          D2PT
                        </td>
                        <td>
                          <span class="text-primary">2.00</span>
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                          2-Point Conversions
                        </td>
                        <td>
                          2PT
                        </td>
                        <td>
                          <span class="text-primary">2.00</span>
                        </td>
                      </tr>
                      
                      
                    </tbody>
                  </table>
                  
                </div>
              </div>

            </div>
          </form>
        </div>
      </div>
    </div>
    
    <!-- MLB -->
    <div class="modal fade" id="mlb" tabindex="-1" role="dialog" aria-labelledby="mlbLabel">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content scoring mlb-header">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="glyphicon icon-cross-mark" aria-hidden="true"></span></button>
          </div>
          <form>
            <div class="modal-body text-center">
              <h2>MLB Scoring</h2>
              
              <div class="row">
                <div class="col-md-6 top-buffer">
                  
                  <h3>Batting</h3>
                  <table class="table table-leagues table-hover table-striped">
                    <thead>
                      <th class="borderless text-center">
                        Statistic
                      </th>
                      <th class="borderless text-center">
                        Abrv
                      </th>
                      <th class="borderless text-center">
                        Pts.
                      </th>
                    </thead>
                    <tbody>
                      
                      <tr>
                        <td>
                          Single
                        </td>
                        <td>
                          1B
                        </td>
                        <td>
                          <span class="text-primary">1.00</span>
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                          Double
                        </td>
                        <td>
                          2B
                        </td>
                        <td>
                          <span class="text-primary">2.00</span>
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                          Triple
                        </td>
                        <td>
                          3B
                        </td>
                        <td>
                          <span class="text-primary">3.00</span>
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                          Home Run
                        </td>
                        <td>
                          HR
                        </td>
                        <td>
                          <span class="text-primary">4.00</span>
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                          Walk
                        </td>
                        <td>
                          BB
                        </td>
                        <td>
                          <span class="text-primary">0.75</span>
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                          Run
                        </td>
                        <td>
                          R
                        </td>
                        <td>
                          <span class="text-primary">1.50</span>
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                          Run Batted In
                        </td>
                        <td>
                          RBI
                        </td>
                        <td>
                          <span class="text-primary">1.50</span>
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                          Stolen Base
                        </td>
                        <td>
                          SB
                        </td>
                        <td>
                          <span class="text-primary">2.00</span>
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                          Caught Stealing
                        </td>
                        <td>
                          CS
                        </td>
                        <td>
                          <span class="text-danger">-1.00</span>
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                          Strikeout
                        </td>
                        <td>
                          KO
                        </td>
                        <td>
                          <span class="text-danger">-0.75</span>
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                          Sacrifice
                        </td>
                        <td>
                          SAC
                        </td>
                        <td>
                          <span class="text-primary">0.75</span>
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                          Hit By Pitch
                        </td>
                        <td>
                          HP
                        </td>
                        <td>
                          <span class="text-primary">0.75</span>
                        </td>
                      </tr>
                      
                    </tbody>
                  </table>
                </div>
                <div class="col-md-6 top-buffer">
                  
                  <h3>Pitching</h3>
                  <table class="table table-leagues table-hover table-striped">
                    <thead>
                      <th class="borderless text-center">
                        Statistic
                      </th>
                      <th class="borderless text-center">
                        Abrv
                      </th>
                      <th class="borderless text-center">
                        Pts.
                      </th>
                    </thead>
                    <tbody>
                      
                      <tr>
                        <td>
                          Walk
                        </td>
                        <td>
                          BB
                        </td>
                        <td>
                          <span class="text-danger">-0.25</span>
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                          Hit allowed
                        </td>
                        <td>
                          HA
                        </td>
                        <td>
                          <span class="text-danger">-0.25</span>
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                          Hit Batter
                        </td>
                        <td>
                          HB
                        </td>
                        <td>
                          <span class="text-danger">-0.25</span>
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                          Earned Run
                        </td>
                        <td>
                          ER
                        </td>
                        <td>
                          <span class="text-danger">-0.75</span>
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                          Inning Pitched
                        </td>
                        <td>
                          IP
                        </td>
                        <td>
                          <span class="text-primary">0.90</span>
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                          Strikeout
                        </td>
                        <td>
                          K
                        </td>
                        <td>
                          <span class="text-primary">0.70</span>
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                          Loss
                        </td>
                        <td>
                          L
                        </td>
                        <td>
                          <span class="text-danger">-0.75</span>
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                          Win
                        </td>
                        <td>
                          W
                        </td>
                        <td>
                          <span class="text-primary">1.50</span>
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                          Complete game
                        </td>
                        <td>
                          CG
                        </td>
                        <td>
                          <span class="text-primary">2.00</span>
                        </td>
                      </tr>
                      
                    </tbody>
                  </table>
                  
                </div>
              </div>

            </div>
          </form>
        </div>
      </div>
    </div>
    
    
    <!-- NBA -->
    <div class="modal fade" id="nba" tabindex="-1" role="dialog" aria-labelledby="nbaLabel">
      <div class="modal-dialog modal-md" role="document">
        <div class="modal-content scoring nba-header">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="glyphicon icon-cross-mark" aria-hidden="true"></span></button>
          </div>
          <form>
            <div class="modal-body text-center">
              <h2>NBA Scoring</h2>
              
              <div class="row">
                <div class="col-xs-12 top-buffer">
                  
                  <h3>All Players</h3>
                  <table class="table table-leagues table-hover table-striped">
                    <thead>
                      <th class="borderless text-center">
                        Statistic
                      </th>
                      <th class="borderless text-center">
                        Abrv
                      </th>
                      <th class="borderless text-center">
                        Pts.
                      </th>
                    </thead>
                    <tbody>
                      
                      <tr>
                        <td>
                          All Points
                        </td>
                        <td>
                          PTS
                        </td>
                        <td>
                          <span class="text-primary">1.00</span>
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                          Rebounds
                        </td>
                        <td>
                          REB
                        </td>
                        <td>
                          <span class="text-primary">1.25</span>
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                          Assists
                        </td>
                        <td>
                          AST
                        </td>
                        <td>
                          <span class="text-primary">1.50</span>
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                          Steals
                        </td>
                        <td>
                          STL
                        </td>
                        <td>
                          <span class="text-primary">2.00</span>
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                          Blocks
                        </td>
                        <td>
                          BLK
                        </td>
                        <td>
                          <span class="text-primary">2.00</span>
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                          Turnovers
                        </td>
                        <td>
                          TO
                        </td>
                        <td>
                          <span class="text-danger">-1.00</span>
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                          Missed Free Throws
                        </td>
                        <td>
                          MsFT
                        </td>
                        <td>
                          <span class="text-danger">-0.50</span>
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                          Missed Field Goals
                        </td>
                        <td>
                          MsFG
                        </td>
                        <td>
                          <span class="text-danger">-0.50</span>
                        </td>
                      </tr>
                      
                      
                      
                    </tbody>
                  </table>
                </div>
            
              </div>

            </div>
          </form>
        </div>
      </div>
    </div>
    
    <!-- NHL -->
    <div class="modal fade" id="nhl" tabindex="-1" role="dialog" aria-labelledby="nhlLabel">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content scoring nhl-header">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="glyphicon icon-cross-mark" aria-hidden="true"></span></button>
          </div>
          <form>
            <div class="modal-body text-center">
              <h2>NHL Scoring</h2>
              
              <div class="row">
                <div class="col-md-6 top-buffer">
                  
                  <h3>Skating</h3>
                  <table class="table table-leagues table-hover table-striped">
                    <thead>
                      <th class="borderless text-center">
                        Statistic
                      </th>
                      <th class="borderless text-center">
                        Abrv
                      </th>
                      <th class="borderless text-center">
                        Pts.
                      </th>
                    </thead>
                    <tbody>
                      
                      <tr>
                        <td>
                          Shot On Goal
                        </td>
                        <td>
                          SOG
                        </td>
                        <td>
                          <span class="text-primary">0.30</span>
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                          GOAL
                        </td>
                        <td>
                          G
                        </td>
                        <td>
                          <span class="text-primary">3.00</span>
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                          Assist
                        </td>
                        <td>
                          A
                        </td>
                        <td>
                          <span class="text-primary">2.00</span>
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                          Plus / Minus
                        </td>
                        <td>
                          + / -
                        </td>
                        <td>
                          <span class="text-primary">0.50</span>
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                          Penalty Minutes
                        </td>
                        <td>
                          PIM
                        </td>
                        <td>
                          <span class="text-primary">0.25</span>
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                          Power Play Goal
                        </td>
                        <td>
                          PPG
                        </td>
                        <td>
                          <span class="text-primary">0.50</span>
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                          Power Play Assist
                        </td>
                        <td>
                          PPA
                        </td>
                        <td>
                          <span class="text-primary">0.50</span>
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                          Short Handed Goal
                        </td>
                        <td>
                          SHG
                        </td>
                        <td>
                          <span class="text-primary">1.00</span>
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                          Short Handed Assist 
                        </td>
                        <td>
                          SHA
                        </td>
                        <td>
                          <span class="text-primary">1.00</span>
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                          Blocked Shot
                        </td>
                        <td>
                          BS
                        </td>
                        <td>
                          <span class="text-primary">0.30</span>
                        </td>
                      </tr>
                      
                    </tbody>
                  </table>
                </div>
                <div class="col-md-6 top-buffer">
                  
                  <h3>Goaltending</h3>
                  <table class="table table-leagues table-hover table-striped">
                    <thead>
                      <th class="borderless text-center">
                        Statistic
                      </th>
                      <th class="borderless text-center">
                        Abrv
                      </th>
                      <th class="borderless text-center">
                        Pts.
                      </th>
                    </thead>
                    <tbody>
                      
                      <tr>
                        <td>
                          Win
                        </td>
                        <td>
                          W
                        </td>
                        <td>
                          <span class="text-primary">3.00</span>
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                          Goals Allowed
                        </td>
                        <td>
                          GA
                        </td>
                        <td>
                          <span class="text-danger">-1.50</span>
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                          Save
                        </td>
                        <td>
                          SV
                        </td>
                        <td>
                          <span class="text-primary">0.30</span>
                        </td>
                      </tr>
                      
                      <tr>
                        <td>
                          Shut Out
                        </td>
                        <td>
                          SO
                        </td>
                        <td>
                          <span class="text-primary">2.00</span>
                        </td>
                      </tr>
                      
                    </tbody>
                  </table>
                  
                </div>
              </div>

            </div>
          </form>
        </div>
      </div>
    </div>
    
    
  </body>
</html>
