<script type="text/ng-template" id="ModalUniversalPlayerSwap.html">
    <div id="universalPlayerSwap" class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span ng-click="cancel()" class="glyphicon icon-cross-mark" aria-hidden="true"></span></button>
    </div>
                <div class="modal-body">
                    <h2 class="text-center">Universal Player Swap</h2>

                    <div class="row">
                        <div class="col-md-7">
                            <h3 class="text-center">Available Players</h3>

                            <form class="bottom-buffer">
                                <div class="row no-margin">
                                    <div class="col-md-3 padding-xs">
                                        <select class="form-control">
                                            <option>All Matchups</option>
                                            <option>Japan</option>
                                            <option>Germany</option>
                                        </select>
                                    </div>
                                    <div class="col-md-3 padding-xs">
                                        <select class="form-control">
                                            <option>All Teams</option>
                                            <option>Japan</option>
                                            <option>Germany</option>
                                        </select>
                                    </div>
                                    <div class="col-md-3 padding-xs">
                                        <input type="text" class="form-control" placeholder="Search Players">
                                    </div>
                                    <div class="col-md-3 padding-xs">
                                        <button class="btn btn-primary">Search</button> <a href="#"><span class="glyphicon icon-undo"></span></a>
                                    </div>

                                </div>
                            </form>

                            <div class="table-responsive">
                                <table class="table table-leagues table-hover table-bordered table-striped table-td-center table-td-middle">
                                    <thead>
                                        <tr>
                                            <th class="borderless text-center">
                                                Rank
                                            </th>
                                            <th class="borderless text-center">
                                                Name
                                            </th>
                                            <th class="borderless text-center">
                                                Salary
                                            </th>
                                            <th class="borderless text-center">
                                                OPP
                                            </th>
                                            <th class="borderless text-center">
                                                FPPG
                                            </th>
                                            <th class="borderless text-center">
                                                TD
                                            </th>
                                            <th class="borderless text-center">
                                                RTD
                                            </th>
                                            <th class="borderless text-center">
                                                INT
                                            </th>
                                            <th class="borderless text-center">
                                                FR
                                            </th>
                                            <th class="borderless text-center">
                                                Sack
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr>
                                            <td>
                                                1
                                            </td>
                                            <td>
                                                Julio Jones(ATL-WR)
                                            </td>
                                            <td>
                                                $18,000
                                            </td>
                                            <td>
                                                @ IND
                                            </td>
                                            <td>
                                                1.00
                                            </td>
                                            <td>
                                                0
                                            </td>
                                            <td>
                                                0
                                            </td>
                                            <td>
                                                1
                                            </td>
                                            <td>
                                                0
                                            </td>
                                            <td>
                                                6
                                            </td>
                                        </tr>



                                    </tbody>
                                </table>
                            </div>

                            <div class="row">
                                <div class="col-sm-6 top-buffer">
                                    <div class="bg-dark padding-sm">
                                        <span class="small"><strong>Swap Criteria:</strong> SS //  $3,500 or Less</span>
                                    </div>
                                </div>
                                <div class="col-sm-6 top-buffer text-right">
                                    <div class="bg-dark padding-sm">
                                        <span class="small"><strong>Christian Colon:</strong></span> <span class="text-success">IN</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-5">
                            <h3 class="text-center">My Lineup</h3>

                            <form class="bottom-buffer">
                                <div class="row no-margin">
                                    <div class="col-md-6 col-md-offset-3 padding-xs">
                                        <select class="form-control">
                                            <option>NFL</option>
                                            <option>Japan</option>
                                            <option>Germany</option>
                                        </select>
                                    </div>
                                </div>
                            </form>

                            <div class="table-responsive">
                                <table class="table table-leagues table-hover table-bordered table-striped table-td-center table-td-middle">
                                    <thead>
                                        <tr>
                                            <th class="borderless">
                                                POS
                                            </th>
                                            <th class="borderless text-center">
                                                Player Name
                                            </th>
                                            <th class="borderless text-center">
                                                OPP
                                            </th>
                                            <th class="borderless text-center">
                                                Salary
                                            </th>
                                            <th class="borderless text-center">
                                                FPPG
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr>
                                            <td>
                                                SS
                                            </td>
                                            <td>
                                                Clint Barmes
                                            </td>
                                            <td>
                                                MIA
                                            </td>
                                            <td>
                                                $3,500
                                            </td>
                                            <td>
                                                0.39
                                            </td>
                                        </tr>



                                    </tbody>
                                </table>
                            </div>

                            <div class="row">
                                <div class="col-md-6 top-buffer">
                                    <div class="bg-dark padding-sm">
                                        <span class="small text-danger"><strong>OUT:</strong></span> <span class="small"><strong>Steve Clevenger</strong></span>
                                    </div>
                                </div>
                                <div class="col-md-6 top-buffer text-right">
                                    <button type="button" class="btn btn-finance">Apply</button> <button ng-click="cancel()" type=" button" class="btn btn-default" data-dismiss="modal" aria-label="Close">Cancel</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
</script>