<div ng-hide="activeNotLoaded || completedNotLoaded" ng-controller="recentController">

  <div class="top-buffer" ng-show="loading">
      <div ng-include="'app/shared/spinner/spinner.html'"></div>
  </div>

  <div uib-collapse="focusedPreviewTeamID === 0" class="collapse" ng-include="'app/components/myScores/scoreBoardPreview/scoreBoardPreview.html'"></div>

  <div class="row">
    <!--ng-show="(league.endDate > TwentyFourHoursAgo) && league.status != 'Canceled'"-->
    <div ng-repeat="league in activeLeagues.concat(completeLeagues)" class="col-md-4">

      <div class="panel panel-default" ng-click="switchScorePreview(league)" aria-expanded="false" aria-controls="scoresGameContent">

        <div class="panel-heading panel-fill">
          <div class="row no-margin">
            <div class="col-xs-9 no-padding">
              <div class="row no-margin">
                <div class="col-xs-2 no-padding text-center">
                  <span class="glyphicon icon-{{league.sport.toLowerCase()}}"></span>
                </div>
                <div class="col-xs-10 no-padding">
                  <strong><small>ID #: {{league.fantasyLeagueID}} - {{league.sport}} - {{league.entryFee|entryFeeTicketFilter:league.LeagueData.canOnlyBeJoinedWithTickets  }}</small></strong><br>
                  <span class="small">Total Players: {{league.numPlayers}} . PrizePool: {{league.prize | getPrize:league.payoutCurrencyType:tenant.bonusPoints}}</span>
                </div>
              </div>
            </div>
            <div class="col-xs-3 no-padding text-center">
              <span ng-bind-html="league.draftStyleID | getTurboIconFilter"></span>
              <span ng-bind-html="league.isQualifier | getQualIconFilter"></span>
              <span ng-bind-html="league.isSatellite | getSatIconFilter"></span>
              <span ng-bind-html="league.fantasyLeagueBettingStyleID | getBettingStyleIconFilter"></span>
              <span ng-bind-html="league.numPlayers | getH2HIconFilter"></span>
              <span ng-bind-html="league.isGuaranteed  | getGuaranteedIcon"></span>
              <span ng-bind-html="league.maxNumberEntriesPerUser | getMultiIconFilter"></span>
              <p class="text-center"><strong>{{league.status}}</strong></p>
            </div>
          </div>
        </div>

        <div class="panel-body">
          <div class="row no-margin">
            <div class="col-xs-8 no-padding">
              <strong>{{league.teamName}}</strong> &nbsp; / &nbsp; <span class="text-danger"><span ng-non-bindable>{ </span>{{(league.score - league.highScore) |number:2 }} <span ng-non-bindable>}</span> </span><br>
              <small>YTP: {{league.yetToPlay}}</small><br>
              <small ng-hide="league.topPlayer == null || league.topPlayer == ''">TOP PLAYER: {{league.topPlayer}} / {{league.topPlayerScore | defaultZero | number:2}}</small>
            </div>
            <div class="col-xs-4 no-padding text-center">
              <h4 class="currency">{{league.score | defaultZero | number:2}}</h4>
            </div>
          </div>
        </div>

        <div class="panel-footer">
          <div class="row no-margin">
            <div class="col-xs-8 no-padding">
              <strong>#1: {{league.highTeamName}}</strong> &nbsp;<br>
              <small>YTP: {{league.highTeamYetToPlay}}</small><br>
              <small ng-hide="league.highTeamTopPlayer == null || league.highTeamTopPlayer == ''">TOP PLAYER: {{league.highTeamTopPlayer}} / {{league.highTeamTopPlayerScore | number:2}} </small>
            </div>
            <div class="col-xs-4 no-padding text-center">
              <h4 class="text-muted">{{league.highScore | defaultZero | number:2}}</h4>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>
</div>
