<th class=" borderless text-center"><a ng-click="sortMe('ranking')">Rank</a></th>
<th class=" borderless text-center"><a ng-click="sortMe('name')">Name</a></th>
<th class=" borderless text-center"><a ng-click="sortMe('salary')">Salary</a></th>
<th class=" borderless text-center"><a ng-click="sortMe('statistics.matchup')">Matchup</a></th>
<th class=" borderless text-center"><a ng-click="sortMe('statistics.gamesPlayed')">GP</a></th>

<th ng-show="['SP'].indexOf(activePosName) < 0" class=" borderless text-center"><a ng-click="sortMe('statistics.h_BattingAverage ')">BA</a></th>
<th ng-show="['SP'].indexOf(activePosName) < 0" class=" borderless text-center"><a ng-click="sortMe('statistics.h_Singles')">1B</a></th>
<th ng-show="['SP'].indexOf(activePosName) < 0" class=" borderless text-center"><a ng-click="sortMe('statistics.h_Doubles')">2B</a></th>
<th ng-show="['SP'].indexOf(activePosName) < 0" class=" borderless text-center"><a ng-click="sortMe('statistics.h_Triples')">3B</a></th>
<th ng-show="['SP'].indexOf(activePosName) < 0" class=" borderless text-center"><a ng-click="sortMe('statistics.HomeRuns')">HR</a></th>
<th ng-show="['SP'].indexOf(activePosName) < 0" class=" borderless text-center"><a ng-click="sortMe('statistics.h_RunsScored')">R</a></th>
<th ng-show="['SP'].indexOf(activePosName) < 0" class=" borderless text-center"><a ng-click="sortMe('statistics.h_rbi')">RBI</a></th>
<th ng-show="['SP'].indexOf(activePosName) < 0" class=" borderless text-center"><a ng-click="sortMe('statistics.h_StolenBases')">SB</a></th>
<th ng-show="['SP'].indexOf(activePosName) < 0" class=" borderless text-center"><a ng-click="sortMe('statistics.h_Walks')">BB</a></th>
<th ng-show="['SP'].indexOf(activePosName) < 0" class=" borderless text-center"><a ng-click="sortMe('statistics.h_StrikeOuts')">KO</a></th>
                            
<th ng-show="['SP'].indexOf(activePosName) >= 0" class="borderless text-center"><a ng-click="sortMe('statistics.p_EarnedRunAverage')">ERA</a></th>
<th ng-show="['SP'].indexOf(activePosName) >= 0" class="borderless text-center"><a ng-click="sortMe('statistics.p_Wins')">W</a></th>
<th ng-show="['SP'].indexOf(activePosName) >= 0" class="borderless text-center"><a ng-click="sortMe('statistics.p_Losses')">L</a></th>
<th ng-show="['SP'].indexOf(activePosName) >= 0" class="borderless text-center"><a ng-click="sortMe('statistics.p_Saves')">S</a></th>
<th ng-show="['SP'].indexOf(activePosName) >= 0" class="borderless text-center"><a ng-click="sortMe('statistics.p_BlownSaves')">BS</a></th>
<th ng-show="['SP'].indexOf(activePosName) >= 0" class="borderless text-center"><a ng-click="sortMe('statistics.p_StrikeOutsThrown')">SO</a></th>
<th ng-show="['SP'].indexOf(activePosName) >= 0" class="borderless text-center"><a ng-click="sortMe('statistics.p_HitsAllowed')">BB</a></th>
<th ng-show="['SP'].indexOf(activePosName) >= 0" class="borderless text-center"><a ng-click="sortMe('statistics.p_InningsPitched')">HA</a></th>
<th ng-show="['SP'].indexOf(activePosName) >= 0" class="borderless text-center"><a ng-click="sortMe('statistics.p_CompleteGames')">IP</a></th>
<th ng-show="['SP'].indexOf(activePosName) >= 0" class="borderless text-center"><a ng-click="sortMe('statistics.averageFantasyPoints')">CG</a></th>

<th class="borderless text-center"><a ng-click="sortMe('statistics.averageFantasyPoints')">FFPG</a></th>