<!-- Support -->
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span class="glyphicon icon-cross-mark" aria-hidden="true"></span></button>
</div>
<form>
    <div class="modal-body">
        <h2 class="text-center bottom-buffer">Support</h2>
        <div ng-show="error_Message">
            <div class="alert alert-danger">{{errorMessage_Message}}</div>
        </div>
        <div ng-show="genericError">
            <div class="alert alert-danger">
                <div ng-repeat="message in genericErrorMessages">
                    {{message}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" class="form-control" id="support_name" ng-model="supportTicket.Name" />
                </div>
                <!--<div ng-show="error_Name">
                    <div class="alert alert-danger">{{errorMessage_Name}}</div>
                </div>-->
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" class="form-control" id="support_username" ng-model="supportTicket.UserName" />
                </div>
                <!--<div ng-show="error_UserName">
                    <div class="alert alert-danger">{{errorMessage_UserName}}</div>
                </div>-->
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="email">Email Address:</label>
                    <input type="text" class="form-control" id="support_email" ng-model="supportTicket.Email" />
                </div>
                <!--<div ng-show="error_Email">
                    <div class="alert alert-danger">{{errorMessage_Email}}</div>
                </div>-->
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="subject">Subject:</label>
                    <select class="form-control" ng-model="supportTicket.Subject">
                        <option value>Choose</option>
                        <option value="General">General</option>
                        <option value="Lineups">Lineups</option>
                        <option value="Scoring">Scoring</option>
                        <option value="Scoring">Account</option>
                        <option value="Scoring">Profile</option>
                        <option value="Scoring">Cashier</option>
                        <option value="Scoring">Referrals</option>
                        <option value="Scoring">Other</option>
                    </select>
                </div>
                <!--<div ng-show="error_Subject">
                    <div class="alert alert-danger">{{errorMessage_Subject}}</div>
                </div>-->
            </div>
        </div>

        <div class="form-group">
            <label for="message">Message:</label>
            <textarea class="form-control" rows="3" ng-model="supportTicket.Message"></textarea>
        </div>
        <div ng-show="majorFailError">
            <div class="alert alert-danger">
                There was an error processing your request. Please email us at <a href="mailto:{{supportEmail}}">{{supportEmail}}</a> to submit your inquiry.
            </div>
        </div>
        <div ng-show="supportTicketSuccess">
            <div class="alert alert-success">
                Your support ticket has been sent to our support staff. Thank you for your inquiry.
            </div>
        </div>
        <button type="button" class="btn btn-lg btn-primary" ng-hide="supportTicketSuccess" ng-click="sendSupport(supportTicket)">Submit</button>
    </div>
</form>