<!--CAREER-->
<tr>
    <td>{{getStat(y,'infoTitle') | uppercase}}</td>
    <td>{{getStat(y,'GP')}}</td>
    <td>{{getStat(y,'FPPG')}}</td>
    <td>{{getStat(y,'PTS')}}</td>
    <td>{{getStat(y,'AST')}}</td>
    <td>{{getStat(y,'REB')}}</td>
    <td>{{getStat(y,'STL')}}</td>
    <td>{{getStat(y,'BLK')}}</td>
    <td>{{getStat(y,'TO')}}</td>
    <td>{{getStat(y,'FGM')}}</td>
    <td>{{getStat(y,'FGA')}}</td>
    <td>{{getStat(y,'FTM')}}</td>
    <td>{{getStat(y,'FTA')}}</td>
    <td>{{getStat(y,'3PM')}}</td>
    <td>{{getStat(y,'3PA')}}</td>
    <td>{{getStat(y,'PF')}}</td>
    <td>{{getStat(y,'FG%')}}</td>
    <td>{{getStat(y,'FT%')}}</td>
    <td>{{getStat(y,'3P%')}}</td>
    <td>{{getStat(y,'MIN')}}</td>
</tr>