<!--CAREER-->
<tr>
    <td>{{getStat(y,'infoTitle')}}</td>
    <td>{{getStat(y,'GP')}}</td>
    <td>{{getStat(y,'FPPG')}}</td>
    <td>{{getStat(y,'G')}}</td>
    <td>{{getStat(y,'A')}}</td>
    <td>{{getStat(y,'PTS')}}</td>
    <td>{{getStat(y,'+/-')}}</td>
    <td>{{getStat(y,'SOG')}}</td>
    <td>{{getStat(y,'PIM')}}</td>
    <td>{{getStat(y,'%')}}</td>
    <td>{{getStat(y,'PPG')}}</td>
    <td>{{getStat(y,'PPA')}}</td>
    <td>{{getStat(y,'SHG')}}</td>
    <td>{{getStat(y,'SHA')}}</td>
    <td>{{getStat(y,'BS')}}</td>
    <td>{{getStat(y,'TOI')}}</td>
    <td>{{getStat(y,'HITS')}}</td>
    <td>{{getStat(y,'FOW%')}}</td>
</tr>