<tr>
    <td>{{getProp(y,'opTeamID')}}</td>
    <td>{{getStat(y,'GAMES')}}</td>
    <td>{{getStat(y,'FPPG')}}</td>
    <td>{{getStat(y,'GS'   )}}</td>
    <td>{{getStat(y,'W'    )}}</td>
    <td>{{getStat(y,'L'    )}}</td>
    <td>{{getStat(y,'S'    )}}</td>
    <td>{{getStat(y,'IP'   )}}</td>
    <td>{{getStat(y,'HA'   )}}</td>
    <td>{{getStat(y,'R'    )}}</td>
    <td>{{getStat(y,'ER'   )}}</td>
    <td>{{getStat(y,'HR'   )}}</td>
    <td>{{getStat(y,'SO'   )}}</td>
    <td>{{getStat(y,'BB'   )}}</td>
    <td>{{getStat(y,'CG'   )}}</td>
    <td>{{getStat(y,'SHO'  )}}</td>
    <td>{{getStat(y,'ERA'  )}}</td>
    <td>{{getStat(y,'WHIP' )}}</td>
    <td>{{getStat(y,'BAA'  )}}</td> 

</tr>