<th class="borderless text-center"><a ng-click="sortMe('ranking')">Rank</a></th>
<th class="borderless text-center"><a ng-click="sortMe('name')">Name</a></th>
<th class="borderless text-center"><a ng-click="sortMe('salary')">Salary</a></th>
<th class="borderless text-center"><a ng-click="sortMe('statistics.matchup')">Matchup</a></th>
<th class="borderless text-center"><a ng-click="sortMe('statistics.gamesPlayed')">GP</a></th>
<th class="borderless text-center"><a ng-click="sortMe('statistics.points')">PTS</a></th>
<th class="borderless text-center"><a ng-click="sortMe('statistics.rebounds')">REB</a></th>
<th class="borderless text-center"><a ng-click="sortMe('statistics.assists')">AST</a></th>
<th class="borderless text-center"><a ng-click="sortMe('statistics.blocks')">BLK</a></th>
<th class="borderless text-center"><a ng-click="sortMe('statistics.steals')">STL</a></th>
<th class="borderless text-center"><a ng-click="sortMe('statistics.turnovers')">TO</a></th>
<th class="borderless text-center"><a ng-click="sortMe('statistics.averageFantasyPoints')">FFPG</a></th>