<div ng-controller="pastLeaguesGridController">
    <div class="row">
        <div class="col-xs-12 top-buffer">
            <h3 class="no-margin">Past Performance</h3>
            <small>TOTAL LEAGUES: {{ filteredPastLeagues.length }} // NET WINNINGS: {{ filteredPastLeagues | myLeaguesNetWinningsFilter | getPrizeFilter }}</small>
            <div class="row">
                <div class="col-xs-12">
                    <form name="pastLeaguesForm" class="form-inline top-buffer">
                        <div class="form-group">
                            <select class="form-control" ng-model="pastLeaguesDurationValFilter" ng-options="duration.durationID as (duration.durationID | getDurationStr) for duration in durations track by duration.durationID">
                                <option value="">Duration</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <select class="form-control" ng-model="pastLeaguesGameTypeValFilter" ng-options="gameType.gameTypeValue as gameType.gameTypeName for gameType in gameTypes track by gameType.gameTypeValue">
                                <option value="">Game Type</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <select class="form-control" ng-model="pastLeaguesBetStyleValFilter" ng-options="betStyle.betStyleID as (betStyle.betStyleID | getBettingStr) for betStyle in betStyles track by betStyle.betStyleID">
                                <option value="">League Style</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <select class="form-control" ng-model="pastLeaguesNumPlayerValFilter" ng-options="numPlayer.numPlayerValue  as numPlayer.numPlayerName for numPlayer in numPlayers track by numPlayer.numPlayerValue">
                                <option value=""># of Players</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <select class="form-control" ng-model="pastLeaguesBuyInValFilter" ng-options="buyIn.buyInValue  as buyIn.buyInName for buyIn in buyIns track by buyIn.buyInValue">
                                <option value="">Buy-In</option>
                            </select>
                        </div>
                        <div class="form-group dropdown">
                            <a class="dropdown-toggle my-toggle-select" id="fromDate" role="button" data-toggle="dropdown" data-target="#" href="">
                                <div class="input-append">
                                    <input type="text" class="input-large form-control" placeholder="From" data-ng-value="fromDateVal | date: mm/dd/yyyy"><span class="add-on">
                                        <i class="icon-calendar"></i>
                                    </span>
                                </div>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="fromDate">
                                <datetimepicker data-ng-model="fromDateVal" data-datetimepicker-config="{ dropdownSelector: '.my-toggle-select', minView: 'day' }"></datetimepicker>
                            </ul>
                        </div>
                        <div class="form-group dropdown">
                            <a class="dropdown-toggle my-toggle-select" id="toDate" role="button" data-toggle="dropdown" data-target="#" href="">
                                <div class="input-append">
                                    <input type="text" class="input-large form-control" placeholder="To" data-ng-value="toDateVal | date: mm/dd/yyyy"><span class="add-on">
                                        <i class="icon-calendar"></i>
                                    </span>
                                </div>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="toDate">
                                <datetimepicker data-ng-model="toDateVal" data-datetimepicker-config="{ dropdownSelector: '.my-toggle-select', minView: 'day' }"></datetimepicker>
                            </ul>
                        </div>
                        <div class="form-group">
                            <a ng-click="clear()"><span class="glyphicon icon-undo"></span></a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="loading">
        <div ng-include="'app/shared/spinner/spinner.html'"></div>
    </div>
    <div ng-show="!loading" class="top-buffer no-padding">
        <div class="row">
            <div class="col-xs-12">

                <ul class="nav nav-tabs" role="tablist" id="leaguesPerformance">
                    <li ng-repeat="league in leagues" role="presentation" value="{{league.leagueID}}" ng-click="pastTab(league.leagueID)" class="{{league.tabClass}}"><a role=" tab" data-toggle="tab">{{league.leagueName}}</a></li>
                </ul>

                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade active in league-pane" id="leaguesPerformanceALL">
                        <div class="table-responsive">
                            <table class="table table-hover table-bordered table-striped table-td-center table-td-middle table-tabs">
                                <thead>
                                    <tr>
                                        <th class="borderless">
                                            League ID#
                                        </th>
                                        <th class="borderless text-center">
                                            Date
                                        </th>
                                        <th class="borderless text-center">
                                            Sport
                                        </th>
                                        <th class="borderless text-center">
                                            Draft
                                        </th>
                                        <th class="borderless text-center">
                                            League
                                        </th>
                                        <th class="borderless text-center">
                                            Buy-In
                                        </th>
                                        <th class="borderless text-center">
                                            $ Won
                                        </th>
                                        <th class="borderless text-center">
                                            KOP WON
                                        </th>
                                        <th class="borderless text-center">
                                            Place
                                        </th>
                                        <th class="borderless text-center">
                                            Players
                                        </th>
                                        <th class="borderless text-center">
                                            Score
                                        </th>
                                        <th class="borderless text-center">
                                            Top Score
                                        </th>
                                        <th class="borderless text-center"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="fantasyLeague in pastLeagues | myLeaguesDurationFilter:pastLeaguesDurationValFilter
                                                                                | myLeaguesGameTypeFilter:pastLeaguesGameTypeValFilter
                                                                                | myLeaguesBetStyleFilter:pastLeaguesBetStyleValFilter
                                                                                | myLeaguesNumPlayerFilter:pastLeaguesNumPlayerValFilter
                                                                                | myLeaguesBuyInFilter:pastLeaguesBuyInValFilter
                                                                                | myLeaguesLeagueFilter:pastLeaguesLeagueValFilter
                                                                                | myLeaguesDateFilter:fromDateVal:toDateVal
                                                                                as filteredPastLeagues"
                                        ng-class="{'winningMoney' : fantasyLeague.wonPrizes }">
                                        <td>
                                            {{fantasyLeague.fantasyLeagueID}}
                                        </td>
                                        <td>
                                            {{fantasyLeague.startDate | date:'M/d' }}
                                        </td>
                                        <td>
                                            {{fantasyLeague.leagueID | getLeagueStr}}
                                        </td>
                                        <td>
                                            {{fantasyLeague.draftType}}
                                        </td>
                                        <td>
                                            {{fantasyLeague.duration}}
                                        </td>
                                        <td>
                                            {{fantasyLeague.entryFee | entryFeeTicketFilter}}
                                        </td>
                                        <td>
                                            {{fantasyLeague.moneyWinnings | getPrizeFilter}}
                                        </td>
                                        <td>
                                            {{fantasyLeague.starPointsWinnings | undefinedZero}}
                                        </td>
                                        <td>
                                            {{fantasyLeague.place | undefinedZero}}/{{fantasyLeague.numPlayers | undefinedZero}}
                                        </td>
                                        <td>
                                            {{fantasyLeague.numPlayers}}
                                        </td>
                                        <td>
                                            {{fantasyLeague.score | toDecimal}}
                                        </td>
                                        <td>
                                            {{fantasyLeague.highScore | toDecimal}}
                                        </td>
                                        <td>
                                            <a class="btn btn-sm btn-default" href="{{ fantasyLeague.fantasyLeagueID | fantasyLeagueButtonLinkFilter:fantasyLeague.fantasyTeamID:fantasyLeague.statusID}}">Scoreboard</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
