<!-- Export Lineup -->
<script type="text/ng-template" id="exportLineups.html">
    <div class="modal-header" id="leagueInformation" tabindex="-1" role="dialog" aria-labelledby="leagueInformationLabel">
        <button type="button" class="close" data-dismiss="modal" ng-click="cancel()" aria-label="Close"><span class="glyphicon icon-cross-mark" aria-hidden="true"></span></button>
    </div>
    <div class="modal-body text-center">
        <a ng-click="enterMoreLeagues()" class="btn btn-block btn-primary" data-dismiss="modal" data-toggle="modal">Enter More Leagues</a>
        <a ng-click="exportLineupToOtherLeagues()" class="btn btn-block btn-default" data-dismiss="modal" data-toggle="modal">Export To Other Leagues</a>
    </div>
</script>