<nav class="navbar navbar-default visible-md visible-lg">
  <div class="container">

    <div class="navbar-header">
      <a class="navbar-brand" href="#/landing"><img class="img-responsive" src="/assets/images/logo-light.png"></a></a>
    </div>

    <ul class="nav navbar-nav navbar-right">
      <li ng-class="{active: currentRoute == '/lobby'}"><a href="#/lobby">Lobby</a></li>
      <li ng-class="{active: currentRoute == '/myleagues'}"><a href="#/myLeagues">Leagues</a></li>
      <li ng-class="{active: currentRoute == '/mylineups'}"><a href="#/myLineups">Lineups</a></li>
      <li ng-class="{active: currentRoute == '/myscores'}"><a href="#/myScores">Scores</a></li>
      <li ng-class="{active: currentRoute == '/leaderboards'}"><a href="#/leaderboards">Leaderboards</a></li>
      <li class="dropdown">
        <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Help <span class="glyphicon icon-angle-down"></span></a>
        <ul class="dropdown-menu">
          <li ng-class="{active: currentRoute == '/how-to-play'}"><a href="#/how-to-play">How to Play</a></li>
          <li ng-class="{active: currentRoute == '/rules'}"><a href="#/rules">Rules</a></li>
          <li ng-class="{active: currentRoute == '/faq'}"><a href="#/faq">FAQ</a></li>
          <li><a data-toggle="modal" ng-controller="supportSharedPopupController" ng-click="displaySupportModal()">Support</a></li>
        </ul>
      </li>

      <li class="navbar-buttons" ng-hide="isLoggedIn">
        <a ng-click="displayLoginModal()" class="btn btn-ghost">Member Login</a>
        <a ng-click="displayRegisterModal()" class="btn btn-red">Sign Up</a>
      </li>

      <li class="user-menu" ng-show="isLoggedIn">
        <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          <img class="avatar img-circle" ng-src="{{profilePhotoUrl}}" onerror="if (!window.profilePhotoDefaultFailure) this.src = '/assets/images/default-avatar.png'; if (this.src.substr(this.src.length - ('/assets/images/default-avatar.png').length) == '/assets/images/default-avatar.png') window.profilePhotoDefaultFailure = true;" />
          {{userName}}
          <span class="glyphicon icon-angle-down"></span>
        </a>
        <ul class="dropdown-menu">
          <li class="bal-points">
            <strong>Balance:</strong> {{cashBalance}}
            <br />
            <strong>Points:</strong> {{pointsBalance}}
          </li>
          <li><a href="#/my-account">My Account</a></li>
          <li><a href="#/my-account?tab=bonuses">Bonuses</a></li>
          <li><a ng-click="logout()">Logout</a></li>
        </ul>
      </li>
      <li class="navbar-buttons" ng-show="isLoggedIn">
        <a href="#/my-account?tab=cashier" class="btn btn-green">Add Funds</a>
      </li>

    </ul>

  </div>
</nav>
