<!-- Mobile Navigation -->
<nav class="navbar navbar-static-top hidden-md hidden-lg">
  <div class="container text-center">
      <button type="button" class="navbar-icons left" data-toggle="collapse" data-target="#menuGeneral">
        <span class="glyphicon icon-align-justify"></span>
      </button>
      <a class="navbar-brand" href="#/landing"><img class="img-responsive" src="/assets/images/logo-light.png"></a></a>
      <button type="button" class="navbar-icons right" data-toggle="collapse" data-target="#menuAccount">
        <span class="glyphicon icon-user"></span>
      </button>
  </div>
</nav>

<!-- Main Menu -->
<div class="collapse hidden-md hidden-lg" id="menuGeneral">
  <div class="row">
    <div class="col-sm-6">
      <ul class="nav nav-pills nav-stacked">
        <li ng-class="{active: currentRoute == '/lobby'}"><a href="#/lobby">Lobby</a></li>
        <li ng-class="{active: currentRoute == '/myleagues'}"><a href="#/myLeagues">Leagues</a></li>
        <li ng-class="{active: currentRoute == '/mylineups'}"><a href="#/myLineups">Lineups</a></li>
        <li ng-class="{active: currentRoute == '/myscores'}"><a href="#/myScores">Scores</a></li>
        <li ng-class="{active: currentRoute == '/leaderboards'}"><a href="#/leaderboards">Leaderboards</a></li>
      </ul>
    </div>
    <div class="col-sm-6">
      <ul class="nav nav-pills nav-stacked">
        <li ng-class="{active: currentRoute == '/how-to-play'}"><a href="#/how-to-play">How to Play</a></li>
        <li ng-class="{active: currentRoute == '/rules'}"><a href="#/rules">Rules</a></li>
        <li ng-class="{active: currentRoute == '/faq'}"><a href="#/faq">FAQ</a></li>
        <li><a data-toggle="modal" ng-controller="supportSharedPopupController" ng-click="displaySupportModal()">Support</a></li>
      </ul>
    </div>
  </div>
</div>

<!-- Account Menu -->
<div class="collapse hidden-md hidden-lg" id="menuAccount">
    <div class="row">
        <div ng-show="isLoggedIn" class="col-xs-12">
            <ul class="nav nav-pills nav-stacked">
                <li class="bal-points">
                    <strong>Balance:</strong> {{cashBalance}} <br>
                    <strong>Points:</strong> {{pointsBalance}}
                    <a href="#/my-account?tab=cashier" class="btn btn-green top-buffer">Add Funds</a>
                </li>
                <li><a href="#/my-account">My Account</a></li>
                <li><a href="#/my-account?tab=bonuses">Bonuses</a></li>
                <li><a ng-click="logout()">Logout</a></li>
            </ul>
        </div>
        <div ng-hide="isLoggedIn" class="col-xs-12">
            <ul class="nav nav-pills nav-stacked">
                <li><a ng-click="displayLoginModal()">Member Login</a></li>
                <li><a ng-click="displayRegisterModal()">Register</a></li>
            </ul>
        </div>
    </div>
</div>
