<!-- Join Other Leagues -->
<script type="text/ng-template" id="enterAdditionalLeaguesID.html">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="cancel()" aria-label="Close"><span class="glyphicon icon-cross-mark" aria-hidden="true"></span></button>
    </div>
    <div class="modal-body">
        <h2 class="bottom-buffer text-center">Join Other Leagues</h2>
        <div ng-show="similarFantasyLeagues.length < 1" class="row">
            <h3 class="text-center">No Compatible Leagues Found.</h3>
        </div>
        <div ng-hide="similarFantasyLeagues.length < 1">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-xs-6">
                            <p>
                                Select a league(s) below to join!
                            </p>
                        </div>
                        <div class="col-xs-6">
                            <p>
                                <strong>Total Leagues Selected:</strong> <span ng-bind="selectedFantasyLeagues.length"></span><br>
                                <strong>Total League Cost:</strong> $<span ng-bind="totalLeagueCost"></span><br>
                                <span class="text-danger" ng-show="selectedFantasyLeagues.length == 0"><em>You must select at least one league.</em></span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <strong>My Current Balance</strong>
                    ${{ account.userBalance | toDecimal }} <a href="#/my-account?tab=cashier"><strong>Add Funds</strong></a><br>
                    {{ account.internalPoints }} Knockout Points
                </div>
                <div class="col-md-2">
                    <button class="btn btn-block btn-primary" ng-click="submitLineups()" ng-disabled="selectedFantasyLeagues.length == 0">Submit</button>
                    <button class="btn btn-block btn-default" data-dismiss="modal" ng-click="cancel()" aria-label="Close">Cancel</button>
                </div>
            </div>

            <div class="table-responsive">
                <table class="table table-leagues table-hover table-bordered table-striped table-td-first-left-align table-td-center table-td-middle">
                    <thead>
                        <tr>
                            <th class="borderless text-center">
                                Tournament Name
                            </th>
                            <th class="borderless text-center">
                                <a ng-click="sortType = 'fantasyDraftStyleID'; sortReverse = !sortReverse">
                                    Draft
                                    <span ng-show="sortType == 'fantasyDraftStyleID'" class="fa fa-caret-down"></span>
                                </a>
                            </th>
                            <th class="borderless text-center">
                                <a ng-click="sortType = 'entryFee'; sortReverse = !sortReverse">
                                    Buy-In
                                    <span ng-show="sortType == 'entryFee'" class="fa fa-caret-down"></span>
                                </a>
                            </th>
                            <th class="borderless text-center">
                                <a ng-click="sortType = 'fantasyLeagueDurationID'; sortReverse = !sortReverse">
                                    League
                                    <span ng-show="sortType == 'fantasyLeagueDurationID'" class="fa fa-caret-down"></span>
                                </a>
                            </th>
                            <th class="borderless text-center">
                                <a ng-click="sortType = 'sizeOfPrizePool'">
                                    Prize
                                    <span ng-show="sortType == 'sizeOfPrizePool'" class="fa fa-caret-down"></span>
                                </a>
                            </th>
                            <th class="borderless text-center">
                                <a ng-click="sortType = 'maxNumberPlayers'; sortReverse = !sortReverse">
                                    Entries
                                    <span ng-show="sortType == 'maxNumberPlayers'" class="fa fa-caret-down"></span>
                                </a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="similarLeague in similarFantasyLeagues | orderBy:sortType:sortReverse" ng-click="selectedFantasyLeagueState(similarLeague, similarLeague.selectedState)">
                            <td>
                                <input type="checkbox" ng-checked="similarLeague.selectedState">
                                <span class="sprite sports-icons {{ similarLeague.leagueID | getLeagueStr | lowercase }}"></span>
                                <span ng-bind-html="similarLeague.guaranteed  | getGuaranteedIcon"></span>
                                <span ng-bind-html="similarLeague.maxNumberEntriesPerUser | getMultiIconFilter"></span>
                                {{ similarLeague.name }}
                            </td>
                            <td>
                                {{ similarLeague.fantasyDraftStyleID | getDraftStyleStr }}
                                <span ng-bind-html="fantasyLeague.fantasyLeagueBettingStyleID | getBettingStyleIconFilter"></span>
                            </td>
                            <td>
                                {{ similarLeague.entryFee | entryFeeTicketFilter }}
                            </td>
                            <td>
                                {{ similarLeague.fantasyLeagueDurationID | getDurationStr }}
                            </td>
                            <td>
                                {{ similarLeague.sizeOfPrizePool | getPrizeFilter:similarLeague.payoutCurrencyType }}
                            </td>
                            <td>
                                {{similarLeague.currentNumberPlayers | numPlayersFilter:similarLeague.maxNumberPlayers}}
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</script>
