<!-- Export Lineup To Other Leagues -->
<script type="text/ng-template" id="exportLineupsID.html">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="cancel()" aria-label=" close"><span class="glyphicon icon-cross-mark" aria-hidden="true"></span></button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-8">
                <h3 class="text-center"> {{ exportSportID | sportIcon | uppercase }} Export Lineup <!--| <strong>Live In: 04:16:43</strong>--></h3>
                <div ng-show="exportableFantasyLeagues.length < 1" class="row">
                    <h3 class="text-center">No Leagues Found to Export Lineup.</h3>
                </div>
                <div ng-hide="exportableFantasyLeagues.length < 1">
                    <form>
                        <div class="row">
                            <div class="col-sm-4">
                                <h3>Lineup Export</h3>
                                <p>
                                    Please verify your lineup to the right, then select the leagues you would like to export to.
                                </p>
                                <!--<p>
                        Leagues in <span class="text-success">green</span> have the same lineup as the lineup you selected, and are selected by default.
                    </p>-->
                            </div>
                            <div class="col-sm-8 top-buffer">
                                <ul class="list-group">
                                    <li class="list-group-item" ng-repeat="league in exportableFantasyLeagues">
                                        <input type="checkbox" ng-model="selectedState" ng-click="selectedFantasyLeagueState(league, selectedState)"> {{ league.entryFee | entryFeeTicketFilter }} - {{ league.fantasyLeagueName }}
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 text-right">
                                <button type="button" class="btn btn-finance" ng-click="saveLineup()">Save Lineup</button>
                                <button type="button" class="btn btn-primary" ng-click="redirectToDraftPage(exportFantasyLeagueID, exportFantasyTeamID)">Revise</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()" aria-label="Close">Cancel</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-4">
                <h3 class="text-center">My Lineup</h3>

                <div class="table-responsive">
                    <table class="table table-leagues table-hover table-bordered table-striped table-td-center table-td-middle">
                        <thead>
                            <tr>
                                <th class="borderless text-center">
                                    POS
                                </th>
                                <th class="borderless text-center">
                                    Player Name
                                </th>
                                <th class="borderless text-center">
                                    Team
                                </th>
                                <th class="borderless text-center">
                                    Salary
                                </th>
                                <!--<th class="borderless text-center">
                                    FPPG
                                </th>-->
                            </tr>
                        </thead>

                        <tbody>
                            <tr ng-repeat="player in exportFantasyTeam">
                                <td>
                                    {{ player.position}}
                                </td>
                                <td>
                                    {{ player.firstName }} {{ player.lastName}}
                                </td>
                                <td>
                                    {{ player.playerTeamAlias | uppercase }}
                                </td>
                                <td>
                                    {{ (player.personID != 0) ? "$" + (player.salary | toDecimal) : "" }}
                                </td>
                                <!--<td>
                                    {{ (player.personID != 0) ? (player.averagePoints | toDecimal) : "" }}
                                </td>-->
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</script>

<div ng-include="'app/shared/lineups/showLineupLeagues.html'"></div>

