<script type="text/ng-template" id="showLineupLeaguesID.html">
    <!-- Show Lineup Leagues -->
    <div class="modal-header" id="leagueInformation" tabindex="-1" role="dialog" aria-labelledby="leagueInformationLabel">
        <button type="button" class="close" data-dismiss="modal" ng-click="cancel()" aria-label="Close"><span class="glyphicon icon-cross-mark" aria-hidden="true"></span></button>
    </div>
    <div>
        <div class="modal-body">
            <h2 class="bottom-buffer text-center">Leagues with your Lineup</h2>

            <div class="table-responsive">
                <table class="table table-leagues table-hover table-bordered table-striped table-td-center table-td-middle">
                    <thead>
                        <tr>
                            <th class="borderless text-center">
                                Buy-In
                            </th>
                            <th class="borderless text-center">
                                Entries
                            </th>
                            <th class="borderless text-center">
                                Type
                            </th>
                            <th class="borderless text-center">
                                Prize
                            </th>
                            <th class="borderless text-center">
                                Status
                            </th>
                            <th class="borderless text-center">
                                <button type="button" class="btn btn-key-sm btn-key btn-me" data-toggle="tooltip" data-placement="top" title="Multi-Entry">M</button>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="fantasyLeague in fantasyLeagues track by $index" ng-click="redirectToDraftPage(fantasyLeague.fantasyLeagueID, FantasyTeamIds[$index])">
                            <td>
                                ${{ fantasyLeague.entryFee }}
                            </td>
                            <td>
                                {{ fantasyLeague.name }}
                            </td>
                            <td>
                                {{ fantasyLeague.fantasyLeagueBettingStyleID | getBettingStr }}
                            </td>
                            <td>
                                ${{ fantasyLeague.sizeOfPrizePool | toDecimal }}
                            </td>
                            <td>
                                {{ fantasyLeague.fantasyLeagueStatusID | getStatusStr }}
                            </td>
                            <td>
                                {{ fantasyLeague.maxNumberEntriesPerUser }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</script>
