<th class="borderless text-center"><a ng-click="sortMe('ranking')">Rank</a></th>
<th class="borderless text-center"><a ng-click="sortMe('name')">Name</a></th>
<th class="borderless text-center"><a ng-click="sortMe('salary')">Salary</a></th>
<th class="borderless text-center"><a ng-click="sortMe('statistics.realMatchup')">Matchup</a></th>
<th class="borderless text-center"><a ng-click="sortMe('statistics.gamesPlayed')">G</a></th>

<!--NON DEFENSE TAB-->
<th ng-show="['DST'].indexOf(activePosName) < 0" class="borderless text-center"><a ng-click="sortMe('statistics.passingYards')">PAYD</a></th>
<th ng-show="['DST'].indexOf(activePosName) < 0" class="borderless text-center"><a ng-click="sortMe('statistics.passingTouchdowns')">PATD</a></th>
<th ng-show="['DST'].indexOf(activePosName) < 0" class="borderless text-center"><a ng-click="sortMe('statistics.rushingYards')">RUYD</a></th>
<th ng-show="['DST'].indexOf(activePosName) < 0" class="borderless text-center"><a ng-click="sortMe('statistics.rushingTouchdowns')">RUTD</a></th>
<th ng-show="['DST'].indexOf(activePosName) < 0" class="borderless text-center"><a ng-click="sortMe('statistics.receptions')">REC</a></th>
<th ng-show="['DST'].indexOf(activePosName) < 0" class="borderless text-center"><a ng-click="sortMe('statistics.receivingYards')">REYD</a></th>
<th ng-show="['DST'].indexOf(activePosName) < 0" class="borderless text-center"><a ng-click="sortMe('statistics.receivingTouchdowns')">RETD</a></th>
<th ng-show="['DST'].indexOf(activePosName) < 0" class="borderless text-center"><a ng-click="sortMe('statistics.interceptions')">INT</a></th>
<!--end NON DEFENSE TAB-->

<!--DEFENSE TAB-->
<th ng-show="['DST'].indexOf(activePosName) > -1" class="borderless text-center"><a ng-click="sortMe('statistics.defensiveTouchdown')">DTD</a></th>
<th ng-show="['DST'].indexOf(activePosName) > -1" class="borderless text-center"><a ng-click="sortMe('statistics.defenseReturnTouchdown')">RTD</a></th>
<th ng-show="['DST'].indexOf(activePosName) > -1" class="borderless text-center"><a ng-click="sortMe('statistics.defenseInterception')">DINT</a></th>
<th ng-show="['DST'].indexOf(activePosName) > -1" class="borderless text-center"><a ng-click="sortMe('statistics.defenseFumbleRecovery')">FR</a></th>
<th ng-show="['DST'].indexOf(activePosName) > -1" class="borderless text-center"><a ng-click="sortMe('statistics.defenseSack')">SACK</a></th>
<th ng-show="['DST'].indexOf(activePosName) > -1" class="borderless text-center"><a ng-click="sortMe('statistics.defenseSafety')">SFTY</a></th>
<th ng-show="['DST'].indexOf(activePosName) > -1" class="borderless text-center"><a ng-click="sortMe('statistics.defenseBlockedKicks')">BK</a></th>
<!--end DEFENSE TAB-->

<th class="borderless text-center"><a ng-click="sortMe('statistics.averageFantasyPoints')">FFPG</a></th>