
<div ng-include="'/app/shared/header/header.html'"></div>
<main class="container container-body">

  <h2 class="text-center bottom-buffer">Leaderboards</h2>

  <div class="row">
    <div class="col-md-9">

      <form>
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="col-md-3 padding-xs">
              <select class="form-control" ng-init="selectedLeague" ng-options="option.league for option in availableLeagues track by option.id" ng-model="selectedLeague" ng-change="GetFilteredLeaderboard(selectedLeague.id, selectedMonth.id, selectedYear.id, '')"></select>
            </div>
            <div class="col-md-3 padding-xs">
              <select class="form-control" ng-options="option.month for option in availableMonths track by option.id" ng-model="selectedMonth" ng-change="GetFilteredLeaderboard(selectedLeague.id, selectedMonth.id, selectedYear.id, '')"></select>
            </div>
            <div class="col-md-3 padding-xs">
              <select class="form-control" ng-options="option.year for option in availableYears track by option.id" ng-model="selectedYear" ng-change="GetFilteredLeaderboard(selectedLeague.id, selectedMonth.id, selectedYear.id, '')"></select>
            </div>
            <div class="col-md-3 padding-xs">
              <input type="text" class="form-control" ng-model="player" placeholder="Search Username">
            </div>
            <!--<div class="col-md-3 padding-xs">
                          <button class="btn btn-block btn-primary"
                                  ng-click="GetFilteredLeaderboard(selectedLeague.id, selectedMonth.id, selectedYear.id, player)">
                              Search
                          </button>
                      </div>-->
          </div>
          <div class="col-md-1 padding-xs text-left">
            <a ng-click="clear()"><span class="glyphicon icon-undo"></span></a>
          </div>
        </div>
      </form>

      <div ng-show="loading" class="top-buffer">
        <div ng-include="'app/shared/spinner/spinner.html'"></div>
      </div>

      <div ng-show="!loading">
        <div class="table-responsive">
          <table class="table table-hover table-bordered table-striped table-td-center table-td-middle table-leaderboards top-buffer">
            <thead>
              <tr>
                <th class="borderless text-center">
                  Rank
                </th>
                <th class="borderless text-center">
                  Username
                </th>
                <th class="borderless text-center">
                  Games Played
                </th>
                <th class="borderless text-center">
                  Total Wins
                </th>
                <th class="borderless text-center">
                  Total
                </th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="leader in leaders | filter:{userName:player}">
                <td>
                  {{ leader.rank }}
                </td>
                <td>
                  <img class="avatar img-circle" ng-src="{{leader.profilePhotoUrl}}" onerror="if (!window.profilePhotoDefaultFailure) this.src = '/assets/images/default-avatar.png'; if (this.src.substr(this.src.length - ('/assets/images/default-avatar.png').length) == '/assets/images/default-avatar.png') window.profilePhotoDefaultFailure = true;">              {{ leader.userName }}
                </td>
                <td>
                  {{ leader.gamesPlayed }}
                </td>
                <td>
                  {{ leader.totalWins }}
                </td>
                <td>
                  {{ leader.totalMoneyWon | currency:"$":2 }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
    <div class="col-md-3">
      <div ng-include="'/app/shared/account/accountOverviewView.html'"></div>
    </div>
  </div>

</main>
