<style>
  .glow {
    color: #10f110 !important;
  }
</style>

<div ng-include="'/app/shared/header/header.html'"></div>
<main class="container container-body">

  <h2 class="text-center bottom-buffer">My Lineups</h2>
  <div class="text-center">
    <!--<button class="btn btn-lg btn-primary">Daily / Weekly</button> <button class="btn btn-lg btn-primary">Season</button>-->
  </div>

  <div ng-hide="LeagueFilter.length == 0 || LeagueFilter == null" class="panel panel-default top-buffer">
    <div class="panel-body">
      <div class="row">
          <div id="filtersection" class="col-sm-6">
            Filters: <span ng-repeat="lf in LeagueFilter"><a href="javascript:" ng-click="SetLeagueFilter(lf.lid)" ng-class="IsLeagueFilterActive(lf.lid) ? 'glow' : '' "><strong>{{lf.lid | getLeagueStr | uppercase}}:</strong></a> {{lf.num}} </span> | <span ng-repeat="sf in StatusFilter"><a href="javascript:" ng-click="SetStatusFilter(sf.fieldname)" ng-class="IsStatusFilterActive(sf.fieldname) ? 'glow' : '' "><strong>{{sf.status}}:</strong></a> {{sf.num}} </span>
          </div>
          <div class="col-sm-6 text-right">
            <!--<a href="javascript:" class="btn btn-red" ng-click="universalPlayerSwap()" data-toggle="modal" >Universal Player Swap</a> <span class="glyphicon icon-question" data-toggle="tooltip" data-placement="top" title="Help"></span>-->
          </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div ng-show="!TeamsData.length && !loading"> <h3>No Lineups to show</h3></div>
    <div ng-show="loading" class="row">
      <div ng-include="'app/shared/spinner/spinner.html'"></div>
    </div>

    <div ng-show="!loading" class="col-sm-6 col-md-4 bottom-buffer" ng-repeat="teamdata in TeamsData  | filter:FilterByLeague | filter:FilterByStatus ">

      <div class="panel panel-default panel-fill no-margin">
        <div class="panel-body">
          <div class="total-points">
            <span>Total Points</span>
            <h4 class="currency no-margin">{{ teamdata.isUpcoming ? "TBD" : (teamdata.fantasyPoints | toDecimal) }}</h4>
          </div>
          <h3 class="no-margin"><span class="glyphicon icon-{{teamdata.leagueID | getLeagueStr | lowercase}}"></span> {{teamdata.leagueID | getLeagueStr | uppercase}}</h3>
          <div class="top-buffer">
            <span class="label label-ghost">{{ParseGameStatus(teamdata)}}</span>
          </div>
        </div>
      </div>

      <table class="table table-leagues table-hover table-bordered table-striped table-td-center table-td-middle no-margin">
          <thead>
              <tr>
                  <th class="borderless text-center">
                      POS
                  </th>
                  <th class="borderless text-center">
                      Player Name
                  </th>
                  <th class="borderless text-center">
                      {{ (teamdata.isLive || teamdata.isCompleted) ? "Points" : "FPPG" }}
                  </th>
                  <th class="borderless text-center">
                      Status
                  </th>
              </tr>
          </thead>
          <tbody>
            <tr ng-repeat="player in teamdata.roster">
              <td>
                {{player.position}}
              </td>
              <td>
                {{player.firstName}} {{player.lastName}}
              </td>
              <td>
                {{ (teamdata.isLive || teamdata.isCompleted) ? player.curPoints : player.averagePoints }}
              </td>
              <td>
                <a class="padding-md" ng-if="!player.gameStarted" href="javascript:" ng-click="SetFantasyTeamIds(teamdata.ftids, teamdata.ytp) ; showLeaguesModals()"><span ng-if="!player.gameStarted" class="glyphicon icon-md icon-switch"></span></a>
              </td>
            </tr>
          </tbody>
      </table>

      <div class="panel panel-default panel-fill no-margin">
        <div class="panel-body">
          <table class="table borderless no-margin">
            <tbody>
              <tr>
                <td><strong>Entries:</strong></td>
                <td>{{teamdata.numEntries}}</td>
              </tr>
              <tr>
                <td><strong>YTP:</strong></td>
                <td>{{teamdata.ytp}}</td>
              </tr>
              <tr>
                <td><strong>Salary left:</strong></td>
                <td><h4 class="currency">{{teamdata.salaryLeft | currency}}</h4></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="panel panel-defaultb borderless">
        <div class="panel-body padding-sm">
          <div class="row">
            <div class="col-sm-6">
              <span class="small edited">Edited: {{teamdata.lastEdited | date: 'M-d-yy'}} @ {{teamdata.lastEdited | date: 'H:mm'}} EST</span>
            </div>
            <div class="col-sm-6 text-right small edited">
              <!--<button class="btn btn-sm btn-primary" ng-click="editLineup(teamdata.fantasyLeagueID,teamdata.fantasyTeamID)" data-toggle="modal">Edit</button>-->
              <a ng-if="teamdata.isUpcoming" ng-click="SetFantasyTeamIds(teamdata.ftids) ; showExportModals(teamdata.fantasyLeagueID, teamdata.sportID, teamdata.fantasyTeamID, teamdata.roster)" data-toggle="modal">Export - </a>
              <a ng-click="SetFantasyTeamIds(teamdata.ftids, teamdata.ytp) ; showLeaguesModals()" data-toggle="modal">Leagues - </a>
              <a ng-if="teamdata.isLive || teamdata.isCompleted" href="javascript:" ng-click="scoreboard(teamdata.fantasyLeagueID, teamdata.fantasyTeamID)"><span>Scoreboard</span></a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</main>

<!-- The modal html required for this page -->
<div ng-include="'app/components/myLineups/modals/exportLineups.html'"></div>
<div ng-include="'app/shared/lineups/exportLineups.html'"></div>
<div ng-include="'app/shared/lineups/showLineupLeagues.html'"></div>
<div ng-include="'app/shared/lineups/importLineup.html'"></div>
<div ng-include="'app/shared/lineups/enterAdditionalLeagues.html'"></div>
<div ng-include="'app/shared/modal/genericModal/genericModal.html'"></div>
