<div ng-include="'/app/shared/header/header.html'"></div>
<main class="container container-body">

    <div class="content content-header">
        <h2 class="text-center">About Us</h2>
    </div>

    <div class="content content-rules-feed">

        <div class="row">
            <div class="col-md-5 col-xs-12">
                <h2>COMPANY OVERVIEW</h2>
                <p>
                    Knockout Picks is part of the Knockout Gaming and
                    Entertainment family of companies which owns and
                    operates online gaming and gaming entertainment
                    sites worldwide. Knockout Picks has quickly become
                    an industry leader by offering fans a sexy and edgy
                    skill-based platform that makes daily, weekly and
                    season-long fantasy sports more thrilling than ever.
                </p>

                <p>
                    Knockout Picks is one of the leading fantasy sports
                    providers worldwide offering the most exciting cash
                    and prizes in the industry.
                </p>

                <p>Knockout Picks: &quot;Your Fantasy Starts Here&quot;</p>
            </div>
            <div class="col-xs-1  col-xs-12"></div>


                <div class="col-md-6 col-xs-12">
                    <h2>CONTACT US</h2>
                    <p>Knockout Picks<br />16435 N. Scottsdale Rd, Suite 400<br />Scottsdale, Arizona 85254</p>
                    <p><strong>Media Inquiries:</strong> media@knockoutpicks.com</p>
                    <p><strong>Support:</strong> support@knockoutpicks.com</p>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">


            </div>
        </div>

    </div>

</main>