<div ng-include="'/app/shared/header/header.html'"></div>
<main class="container container-body">

  <h2 class="text-center bottom-buffer">My Leagues</h2>
  <div class="row">
    <div class="col-md-9">
      <div ng-include="'/app/components/myLeagues/activeLeaguesGrid/activeLeaguesGridView.html'"></div>
      <div ng-include="'/app/components/myLeagues/pastLeaguesGrid/pastLeaguesGridView.html'"></div>
    </div>
    <div class="col-md-3">
      <div ng-include="'/app/shared/account/accountOverviewView.html'"></div>
    </div>
  </div>
</main>
