<div class="panel panel-default">
  <div class="panel-body">

    <div class="top-buffer" ng-show="loading">
      <div ng-include="'app/shared/spinner/spinner.html'"></div>
    </div>
    <div ng-show="!loading">

      <h3> {{ ::league.name }}</h3>

      <div class="row">

        <div class="col-sm-6">
          <table class="table borderless">
            <tbody>
              <tr>
                <td>
                  <strong>League ID:</strong>
                </td>
                <td>
                  {{ ::league.fantasyLeagueID }}
                </td>
              </tr>
              <tr>
                <td>
                  <strong>Team Name:</strong>
                </td>
                <td>
                  {{ ::team.name }}
                </td>
              </tr>
              <tr>
                <td>
                  <strong>Starts:</strong>
                </td>
                <td>
                  {{ ::league.scoringStartDate | date:'M.d.yyyy - h:mm a' }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="col-sm-6">
          <table class="table borderless">
            <tbody>
              <tr>
                <td>
                  <strong>Entries:</strong>
                </td>
                <td>
                  {{league.currentNumberPlayers | numPlayersFilter:league.maxNumberPlayers}}
                </td>
              </tr>
              <tr>
                <td>
                  <strong>Buy-In:</strong>
                </td>
                <td>
                  {{ ::league.entryFee | entryFeeTicketFilter:fantasyLeague.canOnlyBeJoinedWithTickets }}
                </td>
              </tr>
              <tr>
                <td>
                  <strong>Win:</strong>
                </td>
                <td>
                  {{ league.sizeOfPrizePool | getPrizeWithCurr:league.payoutCurrencyType:tenant.bonusPoints }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="col-xs-12">
          <ul class="list-inline">
            <li>
              <button ng-show="league.fantasyLeagueStatusID == leagueStatusOpen" class="btn btn-red" ng-click="leaveLeague()">Leave League</button>
            </li>
            <li ng-controller="LeagueInfoController">
              <a class="btn btn-default" ng-click="openLeagueInfo(league.fantasyLeagueID, false, true)">Full League Details</a>
            </li>
            <li ng-controller="sportsScoringController">
              <a class="btn btn-default" ng-click="openSportsScoring(league.leagueID)" data-target="#sportScoring">{{league.leagueID | getLeagueStr}} Scoring</a>
            </li>
          </ul>
        </div>

      </div>
    </div>

  </div>
</div>


<div ng-include="'app/shared/modal/leagueInfo/leagueInfoView.html'"></div>
<div ng-include="'app/shared/modal/sportsScoringModals/mlb/sportsScoring.html'"></div>
<div ng-include="'app/shared/modal/sportsScoringModals/nba/sportsScoring.html'"></div>
<div ng-include="'app/shared/modal/sportsScoringModals/nfl/sportsScoring.html'"></div>
<div ng-include="'app/shared/modal/sportsScoringModals/nhl/sportsScoring.html'"></div>
