<!-- Welcome -->
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span class="glyphicon icon-cross-mark" aria-hidden="true"></span></button>
</div>
<form>
    <div class="modal-body text-center">
        <div class="row">
            <div class="col-xs-12">
                <img class="img-responsive img-resp-center" src="/assets/images/logo-large.png">
            </div>
        </div>

        <h2 class="top-buffer">Welcome to Knockout Picks</h2>

        <p class="top-buffer bottom-buffer">
            Your account has been verified and you now have full access to play real money games on Knockout Picks.
        </p>

        <div class="top-buffer bottom-buffer">
            <button type="button" class="btn btn-lg btn-primary" ng-click="continue()">Play Now</button>
        </div>


    </div>

</form>