<div ng-include="'/app/shared/header/header.html'"></div>
<main class="container container-body">
    <div class="content content-header">
        <h2 class="text-center">How To Play</h2>

        <h1 class="text-center top-buffer bottom-buffer">Daily / Weekly</h1>
        <p class="text-center lead">
            Daily fantasy sports are very easy to participate in at Knockout Picks. The steps below will give you a detailed explanation on how to deposit, join, and monitor contests.
        </p>
    </div>

    <div class="content">

        <div class="row">
            <div class="col-md-6 bottom-buffer">
                <h3>Make A Deposit</h3>
                <p>
                    Our cashier section allows both PayPal and credit card deposits in a secure and fraud-free environment. If you haven’t deposited yet, using promo code <strong>‘KOP20’</strong> will get you a 20% bonus on your first deposit!
                </p>
                <p>
                    Not ready to play for cash yet? Knockout Picks offers daily freerolls and tons of other free contests in which you can earn <a href="">KO Points</a> to real cash contests.
                </p>
            </div>
            <div class="col-md-6 bottom-buffer">
                <img class="img-responsive" src="assets/images/howtoplay-screen1.jpg">
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 top-buffer bottom-buffer">
                <h3>Join A League</h3>
                <p>
                    The Knockout Picks Game Grid is filled with tons of different contests for you to join on a daily basis. Fully sortable, the Knockout Game Grid caters to the contests you like to play.
                </p>
                <p>
                    Daily fantasy games come in all different varieties. Knockout Picks has contests ranging from 2-man leagues (head-to-head), all the way up to leagues with several hundred people. Whether you want to play for a dollar or thousands of dollars, Knockout Picks has the game for you!
                </p>
                <p>
                    Within the different types of buy-ins and entries, there’s a bunch of different game types to choose from.
                </p>
                <p>
                    Check out the key below for a list of descriptions for the icons you will see in the Knockout Game Grid.
                </p>

                <div class="row">
                    <div class="col-xs-12 top-buffer bottom-buffer text-center">
                        <button type="button" class="btn btn-key btn-dup" data-toggle="tooltip" data-placement="top" title="Double-Up Payout">2<sub>x</sub></button>
                        <button type="button" class="btn btn-key btn-tup" data-toggle="tooltip" data-placement="top" title="Triple-Up Payout">3<sub>x</sub></button>
                        <button type="button" class="btn btn-key btn-gl" data-toggle="tooltip" data-placement="top" title="Guaranteed League">G</button>
                        <button type="button" class="btn btn-key btn-hu" data-toggle="tooltip" data-placement="top" title="Heads Up">H</button>
                        <button type="button" class="btn btn-key btn-me" data-toggle="tooltip" data-placement="top" title="Multi-Entry">M</button>
                        <button type="button" class="btn btn-key btn-qualifier" data-toggle="tooltip" data-placement="top" title="Qualifier">Q</button>
                        <button type="button" class="btn btn-key btn-satellite" data-toggle="tooltip" data-placement="top" title="Satellite">S</button>
                        <!--<button type="button" class="btn btn-key btn-turbo" data-toggle="tooltip" data-placement="top" title="Turbo">T</button>-->
                        <button type="button" class="btn btn-key btn-custom" data-toggle="tooltip" data-placement="top" title="Custom">C</button>
                        <button type="button" class="btn btn-key btn-wta" data-toggle="tooltip" data-placement="top" title="Winner Take All">W</button>
                    </div>
                </div>

            </div>
            <div class="col-md-6 top-buffer bottom-buffer">
                <img class="img-responsive" src="assets/images/howtoplay-screen2.jpg">
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 top-buffer bottom-buffer">
                <h3>Build A Killer Lineup</h3>
                <p>
                    All of the salary cap contests at Knockout Picks start with a $100,000 “false” salary cap. On a daily/weekly basis, player salaries change based on performance. Utilizing your fantasy sports knowledge, you build a team with false player salaries under the $100,000 salary cap.
                </p>
                <p>
                    Please visit our <a href="#/rules">Rules Section</a> for more detailed explanations of scoring and roster sizes.
                </p>
            </div>
            <div class="col-md-6 top-buffer bottom-buffer">
                <img class="img-responsive" src="assets/images/howtoplay-screen3.jpg">
            </div>
        </div>

        <div class="row">
            <div class="text-center top-buffer bottom-buffer">
                <h3>Watch Your Players In Action!</h3>
                <p>
                    Once you’ve entered your lineup and the first game starts, you can watch your players perform with our up-to-the-second Knockout Picks Scoreboard.
                </p>
                <p>
                    You can access the Knockout Picks Scoreboard in the ‘Active Leagues’ box next to the Knockout Game Grid, as well as in your ‘My Leagues’ section on the top navigation bar.
                </p>
                <p>
                    If your team is victorious, you’ll see your winnings in your account shortly after the last game finishes. Miss making the money? There’s always a full list of contests tomorrow!
                </p>
            </div>
            <div class="top-buffer bottom-buffer">
                <img class="img-responsive img-resp-center" src="assets/images/howtoplay-screen4.jpg">
            </div>
        </div>

    </div>

</main>
 
