



<div ng-controller="referralController">
    <p class="bg-danger padding-md">
        You are currently not eligible to receive cash from referrals. Your referrals will be tracked, but not credited.
    </p>

    <h3>My Referrals</h3>

    <div class="row">
        <div class="col-md-4">
            <div class="row">
                <div class="col-xs-6">
                    <select ng-model="ddlMonths" class="form-control" ng-change="CustomFilter()">
                        <option value="">Month</option>
                        <option value=0>January</option>
                        <option value=1>February</option>
                        <option value=2>March</option>
                        <option value=3>April</option>
                        <option value=4>May</option>
                        <option value=5>June</option>
                        <option value=6>July</option>
                        <option value=7>August</option>
                        <option value=8>September</option>
                        <option value=9>October</option>
                        <option value=10>November</option>
                        <option value=11>December</option>
                    </select>
                </div>
                <div class="col-xs-6">
                    <select class="form-control" ng-model="ddlYears" ng-options="year for year in Years" ng-change="CustomFilter()">
                        <option value="">Year</option>
                    </select>
                </div>
            </div>
            <br />
            <p><strong>This Month's Earnings:</strong> {{ReferralTotalThisMonth | currency}}</p>
            <p><strong>Total Earnings:</strong> {{ReferralTotal | currency}}</p>
        </div>
        <div class="col-md-8">
            <div class="table-responsive">
                <table class="table table-leagues table-hover table-td-center table-bordered table-td-middle">
                    <thead>
                        <tr>
                            <th class="text-center">
                                <a href="" ng-click="order('date')">Date</a>
                                <span class="sortorder" ng-show="predicate === 'date'" ng-class="{reverse:reverse}"></span>
                            </th>
                            <th class="text-center">
                                <a href="" ng-click="order('userName')">Username</a>
                                <span class="sortorder" ng-show="predicate === 'userName'" ng-class="{reverse:reverse}"></span>
                            </th>
                            <th class="text-center">
                                <a href="" ng-click="order('played')">Games Played</a>
                                <span class="sortorder" ng-show="predicate === 'played'" ng-class="{reverse:reverse}"></span>
                            </th>
                            <th class="text-center">
                                <a href="" ng-click="order('wins')">Wins</a>
                                <span class="sortorder" ng-show="predicate === 'wins'" ng-class="{reverse:reverse}"></span>
                            </th>
                            <th class="text-center">
                                <a href="" ng-click="order('totalFees')">Entry Fees</a>
                                <span class="sortorder" ng-show="predicate === 'totalFees'" ng-class="{reverse:reverse}"></span>
                            </th>
                            <th class="text-center">
                                <a href="" ng-click="order('totalEarned')">Comissions Earned</a>
                                <span class="sortorder" ng-show="predicate === 'totalEarned'" ng-class="{reverse:reverse}"></span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="rinfo in ReferralInfo | orderBy:predicate:reverse" >
                            <td>
                                {{rinfo.date | date : 'MM/dd/yyyy'}}
                            </td>
                            <td>
                                {{rinfo.userName}}
                            </td>
                            <td>
                                {{rinfo.played}}
                            </td>
                            <td>
                                {{rinfo.wins}}
                            </td>
                            <td>
                                {{rinfo.totalFees}}
                            </td>
                            <td>
                                {{rinfo.totalEarned}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-6">
            <h3>Refer Friends For Cash</h3>

            <form>
                <div class="row">
                    <div class="col-xs-6">
                        <p class="text-center">
                            Friend's Email Address:
                        </p>
                        <div class="row">
                            <div class="col-xs-2 bottom-buffer">
                                iconz
                            </div>
                            <div class="col-xs-10 bottom-buffer">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-2 bottom-buffer">
                                iconz
                            </div>
                            <div class="col-xs-10 bottom-buffer">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-2 bottom-buffer">
                                iconz
                            </div>
                            <div class="col-xs-10 bottom-buffer">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <p class="text-center">
                            Friend's Name:
                        </p>
                        <input type="text" class="form-control bottom-buffer">
                        <input type="text" class="form-control bottom-buffer">
                        <input type="text" class="form-control bottom-buffer">
                    </div>
                </div>
                <p>
                    <a href="#">+ Add more fields</a>
                </p>
                <p>
                    Email Subject:
                </p>
                <textarea class="form-control bottom-buffer">
                    Your Friend {{CachedAcctInfo.firstName }} {{CachedAcctInfo.lastName }} Wants YOU to Come Play at Knockout Picks!
                </textarea>

                <p>
                    Email Message: (hint: We'll sub your friend's name for [name])
                </p>
                <textarea class="form-control bottom-buffer">
                    Hey [name], Your pal {{CachedAcctInfo.firstName }} {{CachedAcctInfo.lastName }} knows you love fantasy sports and thinks you should join them on a sweet new site -- Knockout Picks. What do you think about big bonuses, hundreds of exciting games and HUGE Freeroll tournaments for thousands in FREE cash? {{CachedAcctInfo.firstName }} {{CachedAcctInfo.lastName }} thinks that's right up your alley! Want in? It's easy. Sign up here https://www.knockoutpicks.com/?referral={{CachedAcctInfo.userName}} to join them in reaping all the benefits of the best new site in fantasy!
                </textarea>

                <button type="submit" class="btn btn-primary">Send Message</button>

            </form>

            <h3>Referral Link &amp; Promo Codes</h3>
            <p>
                Your Personalized Referral Link:
            </p>
            <a href="https://www.knockoutpicks.com/?referral={{CachedAcctInfo.userName}}">https://www.knockoutpicks.com/?referral={{CachedAcctInfo.userName}}</a>

            <p class="top-buffer">
                <a class="btn btn-default" href="#"><span class="glyphicon icon-facebook-square"></span> Post Referral Link to Facebook</a>
            </p>

        </div>
        <div class="col-md-6">
            <h3>Referral Details</h3>

            <p>
                <strong>Ready to refer a friend? Bonus cash is waiting for you!</strong>
            </p>
            <p>
                Referring a friend and earning bonus cash is simple.
            </p>
            <ol>
                <li>
                    Find a friend who loves fantasy games (and thinks he can kick your ass).
                </li>
                <li>
                    Send him or her either your personal link below or your personal referral code (also below).
                </li>
                <li>
                    Sit back and watch your KOP account get seriously padded with mucho bonus cash.
                </li>
            </ol>
            <p>
                When your friends sign up, we’ll give you a cut of every game they play – forever!
            </p>
            <p>
                There’s no limit on how many friends you can refer, or how much that you can earn! Heck, you even get commissions for referrals your friends make!
            </p>

            <h3>Commission Structure</h3>
            <p>
                <strong>Check out how much $$$ you'll make!</strong>
            </p>
            <table class="table table-leagues table-hover table-td-center table-bordered table-td-middle">
                <thead>
                    <tr>
                        <th class="text-center">
                            % of total referral site net revenue
                        </th>
                        <th class="text-center">
                            Level 1
                        </th>
                        <th class="text-center">
                            Level 2
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            $0 - $999
                        </td>
                        <td>
                            20%
                        </td>
                        <td>
                            5%
                        </td>
                    </tr>
                    <tr>
                        <td>
                            $1000 - $1999
                        </td>
                        <td>
                            25%
                        </td>
                        <td>
                            5%
                        </td>
                    </tr>
                    <tr>
                        <td>
                            $2000 - $4999
                        </td>
                        <td>
                            30%
                        </td>
                        <td>
                            5%
                        </td>
                    </tr>
                    <tr>
                        <td>
                            $5000+
                        </td>
                        <td>
                            35%
                        </td>
                        <td>
                            5%
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>

