
<div ng-controller="ticketController">
    <div>
        <strong>Tickets Coming Soon!!!</strong>
</div>
    <div style="visibility:hidden">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a data-target="#available" aria-controls="available" role="tab" data-toggle="tab">Available</a></li>
            <li role="presentation"><a data-target="#used" aria-controls="used" role="tab" data-toggle="tab">Used</a></li>
            <li role="presentation"><a data-target="#expired" aria-controls="expired" role="tab" data-toggle="tab">Expired</a></li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="tickets-available">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="padding-md">

                            <div class="row">
                                <div class="col-sm-3 text-center">
                                    <img src="assets/images/Tickets/sflticket_1.png">
                                    <p><strong>x2</strong></p>
                                </div>
                                <div class="col-sm-3 text-center">
                                    <img src="assets/images/Tickets/sflticket_1.png">
                                    <p><strong>x3</strong></p>
                                </div>
                                <div class="col-sm-3 text-center">
                                    <img src="assets/images/Tickets/sflticket_1.png">
                                    <p><strong>x4</strong></p>
                                </div>
                                <div class="col-sm-3 text-center">
                                    <img src="assets/images/Tickets/sflticket_1.png">
                                    <p><strong>x5</strong></p>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="tickets-used">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="padding-md">
                            <div class="row">
                                <div class="col-sm-3 text-center">
                                    <img src="assets/images/sflticket_1.png">
                                    <p><strong>x2</strong></p>
                                </div>
                                <div class="col-sm-3 text-center">
                                    <img src="assets/images/sflticket_1.png">
                                    <p><strong>x3</strong></p>
                                </div>
                                <div class="col-sm-3 text-center">
                                    <img src="assets/images/sflticket_1.png">
                                    <p><strong>x4</strong></p>
                                </div>
                                <div class="col-sm-3 text-center">
                                    <img src="assets/images/sflticket_1.png">
                                    <p><strong>x5</strong></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="tickets-expired">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="padding-md">
                            <div class="row">
                                <div class="col-sm-3 text-center">
                                    <img src="assets/images/Tickets/sflticket_1.png">
                                    <p><strong>x2</strong></p>
                                </div>
                                <div class="col-sm-3 text-center">
                                    <img src="assets/images/sflticket_1.png">
                                    <p><strong>x3</strong></p>
                                </div>
                                <div class="col-sm-3 text-center">
                                    <img src="assets/images/sflticket_1.png">
                                    <p><strong>x4</strong></p>
                                </div>
                                <div class="col-sm-3 text-center">
                                    <img src="assets/images/sflticket_1.png">
                                    <p><strong>x5</strong></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>